<template>
  <section class="masthead-home">
    <div class="grid-container">
      <div class="img-wrap">
        <prismic-image v-if="slice.primary.image" :field="slice.primary.image" />
      </div>
      <div class="info-wrap">
        <div class="text-wrap">
          <prismic-rich-text
            v-if="slice.primary.title"
            :field="slice.primary.title"
            class="heading"
          />
          <prismic-rich-text
            v-if="slice.primary.description"
            :field="slice.primary.description"
            class="paragraph"
          />
          <arrow-down />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"]
};
</script>
<style lang="scss">
.masthead-home {
  background: linear-gradient(90deg, $teal 50%, white 50%);
  padding: 180px 0 120px 0;
  .img-wrap {
    grid-column: 3/19;
  }
  .info-wrap {
    grid-column: 21/31;
    display: flex;
    align-items: center;
    justify-content: center;
    .text-wrap {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      .heading {
        @include RalewayBold1($pink);
        grid-column: 1/6;
        margin-bottom: 40px;
      }
      .paragraph {
        grid-column: 2/6;
        margin-bottom: 40px;
      }
      .arrow-down {
        grid-column: 2/6;
        g {
          fill: $pink !important;
        }
      }
    }
  }
  .underline {
    text-decoration: underline;
  }
  @include MQ(XL) {
    flex-direction: column;
    background: linear-gradient(360deg, $teal 75%, white 75%);
    padding: 40px;
    padding-top: 100px;
    .img-wrap {
      width: 100%;
      justify-content: center;
      img {
        width: 100%;
        margin: 0;
      }
    }
    .info-wrap {
      margin-top: 40px;
      width: 100%;
      .text-wrap {
        display: block;
        max-width: 600px;
        padding: 0 20px;
        .heading {
          @include RalewayBold2($pink);
        }
        .paragraph {
          color: white;
        }
      }
    }
  }
  @include MQ(M) {
    padding: 20px;
    padding-top: 80px;
    .img-wrap {
      img {
        max-height: 300px;
      }
    }
    .info-wrap {
      margin-top: 20px;
    }
  }
}
</style>
