<template>
  <section class="case-studies-list" v-if="$config.env.isAnonymised != 'true'">
    <div class="grid-container">
      <prismic-rich-text
        v-if="slice.primary.text"
        :field="slice.primary.text"
        class="heading"
      />
      <agile
        class="case-studies-grid"
        :dots="false"
        :infinite="false"
        :slidesToShow="4"
        :key="caseStudies.length"
        :unagile="unagile"
      >
        <a
          v-for="(item, i) in caseStudies"
          :key="i"
          class="item"
          :href="item.url"
        >
          <prismic-image
            v-if="item.data.body[0].primary.image"
            :field="item.data.body[0].primary.image"
          />
          <div class="info-wrap">
            <div class="fitty">
              <div class="title" ref="title">
                {{ item.data.body[0].primary.title[0].text }}
              </div>
            </div>
            <div class="description">
              {{ item.data.body[0].primary.subtitle[0].text }}
            </div>
            <div class="link">
              READ MORE
              <arrow-right />
            </div>
          </div>
        </a>
        <template slot="prevButton">
          <img :src="require('@/assets/images/arrow_long.svg')" />
        </template>
        <template slot="nextButton">
          <img :src="require('@/assets/images/arrow_long.svg')" />
        </template>
      </agile>
    </div>
  </section>
</template>
<script>
import { VueAgile } from "vue-agile";
import fitty from "fitty";

export default {
  props: ["slice"],
  components: {
    agile: VueAgile
  },
  data: () => ({
    caseStudies: []
  }),
  computed: {
    unagile() {
      return (
        this.caseStudies.length <= 4 ||
        window.matchMedia("(max-width: 900px)").matches
      );
    }
  },
  async mounted() {
    const ids = this.slice.items.map(item => item.case_study.id);
    const caseStudies = (await this.$prismic.api.getByIDs(ids.filter(Boolean)))
      .results;
    this.caseStudies = caseStudies;

    fitty(".case-studies-list .title", {
      maxSize: 18
    });
  }
};
</script>
<style lang="scss">
.case-studies-list {
  margin: $section-margin-desktop 0;
  @include MQ(M) {
    margin: $section-margin-mobile 20px;
  }
  .heading {
    @include RalewayBold2();
    grid-column: 3/31;
    max-width: 450px;
    margin-bottom: 20px;
  }
  .case-studies-grid {
    grid-column: 3/31;
    margin: 0 -15px;
    outline: none;
    width: calc(100% + 30px);
    .item {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0 15px;
      @include MQ(M) {
        height: auto;
        margin-bottom: 20px;
      }
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
      .info-wrap {
        background-color: $lightblue;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: calc(100% - 400px);
        .title {
          @include RalewayBold3();
          margin-bottom: 20px;
        }
        .description {
          @include RobotoSlabReg1();
          margin-bottom: 20px;
        }
        .link {
          @include RalewayBold4();
          margin-top: auto;
          svg {
            margin-left: 10px;
            g {
              fill: $teal;
            }
          }
        }
      }
    }
  }
  .agile {
    &--disabled {
      .agile__slides {
        display: flex;
        justify-content: center;
        @include MQ(L) {
          display: block;
        }
      }
      .item {
        width: 25%;
        flex-grow: 0;
        flex-shrink: 1;
        @include MQ(L) {
          width: 100%;
        }
      }
    }
    &__actions {
      margin-left: -50px;
      position: absolute;
      top: calc(50% - 10px);
      width: calc(106% + 30px);
    }
    &__nav-button {
      background: transparent;
      border: none;
      .hidden {
        display: none;
      }
      &--prev {
        img {
          transform: scaleX(-1);
        }
      }
    }
  }
}
</style>
