<template>
  <section class="feature-story">
    <div class="background"></div>
    <div class="grid-container">
      <prismic-image
        v-if="slice.primary.image_1"
        :field="slice.primary.image_1"
        class="image-1"
      />
      <prismic-image
        v-if="slice.primary.image_2"
        :field="slice.primary.image_2"
        class="image-2"
      />
      <div class="info-block">
        <div class="text-block">
          <prismic-rich-text
            v-if="slice.primary.title"
            :field="slice.primary.title"
            class="heading"
          />
          <prismic-rich-text
            v-if="slice.primary.description"
            :field="slice.primary.description"
            class="paragraph"
          />
          <prismic-link
            v-if="slice.primary.link"
            :field="slice.primary.link"
            class="link"
          >
            {{ slice.primary.cta }}
            <arrow-right />
          </prismic-link>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"]
};
</script>
<style lang="scss">
.feature-story {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  position: relative;
  .background {
    background: $gold;
    grid-row: 2/9;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    grid-row: 1/9;
    grid-template-rows: repeat(32, 1fr);
  }
  .image-1 {
    grid-column: 3/15;
    grid-row: 1/25;
  }
  .image-2 {
    grid-column: 12/18;
    grid-row: 11/29;
  }
  .info-block {
    grid-column: 21/29;
    grid-row: 5/33;
    display: flex;
    align-items: center;
    justify-content: center;
    .text-block {
      .heading {
        @include RalewayBold2();
      }
      .paragraph {
        margin: 20px 0;
      }
      .link {
        @include RalewayBold4(white);
        .arrow-right {
          margin-left: 20px;
          g {
            fill: white;
          }
        }
      }
    }
  }
  @include MQ(M) {
    margin: $section-margin-mobile 0;
    display: flex;
    flex-direction: column;
    .grid-container {
      padding: 20px;
    }
    .image-2,
    .color-block {
      display: none;
    }
    .info-block {
      background-color: $gold;
      padding: 20px;
    }
  }
}
</style>
