<template>
  <section class="masthead-blogpost">
    <div class="background"></div>
    <div class="grid-container">
      <prismic-image
        class="image"
        v-if="slice.primary.image"
        :field="slice.primary.image"
      />
      <div class="info-wrap">
        <div class="text-wrap">
          <prismic-rich-text
            v-if="slice.primary.title"
            :field="slice.primary.title"
            class="title"
          />
          <prismic-rich-text
            v-if="slice.primary.subtitle"
            :field="slice.primary.subtitle"
            class="subtitle"
          />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"]
};
</script>
<style lang="scss">
.masthead-blogpost {
  margin-bottom: $section-margin-desktop;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  position: relative;
  .background {
    background: $pink;
    grid-row: 1/16;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    grid-row: 1/17;
    grid-template-rows: repeat(32, 1fr);
  }
  .image {
    grid-column: 1/17;
    grid-row: 1/33;
  }
  .info-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 19/29;
    grid-row: 5/31;
    .text-wrap {
      width: 100%;
      .title {
        @include RalewayBold2();
        margin-bottom: 20px;
      }
      .subtitle {
        @include RobotoSlabReg1();
      }
    }
  }
  @include MQ(L) {
    display: block;
    margin-bottom: $section-margin-mobile;
    img {
      padding-top: 60px;
    }
    .info-wrap {
      .text-wrap {
        padding: 20px;
      }
    }
  }
}
</style>
