<template>
  <div v-if="activeSeason >= 0" class="podcast-roll">
    <div v-if="seasonsWithContent.length > 1" class="grid-container">
      <ul class="season-nav">
        <li
          v-for="(season, index) in seasonsWithContent"
          :key="index"
          class="season-nav__link"
          :class="{ active: activeSeason == index }"
          @click="activeSeason = index"
        >
          {{ season.name }}
        </li>
      </ul>
    </div>
    <div class="grid-container">
      <div class="headline">
        <h3>Ventur Podcast</h3>
        <h4>{{ seasons[activeSeason].name }}</h4>
      </div>
    </div>
    <div class="grid-container">
      <div class="posts-grid">
        <div
          v-for="(item, i) in seasons[activeSeason].podcasts"
          :key="i"
          class="podcast"
        >
          <prismic-image
            class="thumbnail"
            v-if="item.data.thumbnail.url"
            :field="item.data.thumbnail"
          />
          <div class="info-wrap">
            <div class="text-wrap">
              <h4>
                {{ item.data.season }}
                EPISODE {{ seasons[activeSeason].podcasts.length - i }}
              </h4>
              <prismic-rich-text class="title" :field="item.data.title" />
              <prismic-rich-text
                class="description"
                :field="item.data.description"
              />
              <prismic-link :field="item.data.apple_music_link" target="_blank">
                <img
                  class="platform-logo apple-music-logo"
                  :src="require('@/assets/images/apple_music.svg')"
                />
              </prismic-link>
              <prismic-link :field="item.data.spotify_link" target="_blank">
                <img
                  class="platform-logo spotify-logo"
                  :src="require('@/assets/images/spotify.svg')"
                />
              </prismic-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      activeSeason: -1,
      podcasts: [],
      seasons: []
    };
  },
  async fetch() {
    this.podcasts = await this.$prismic.api.query(
      this.$prismic.predicates.at("document.type", "podcast"),
      { orderings: "[document.first_publication_date desc]" }
    );

    for (let season = 1; season <= 9; season++) {
      const podcasts = this.podcasts.results.filter(
        podcast => podcast.data.season == `Season ${season}`
      );

      if (podcasts.length) {
        this.seasons.push({
          name: `Season ${season}`,
          podcasts: podcasts
        });
      }
    }

    this.seasons = this.seasons.reverse();
    this.activeSeason = 0;
  },
  computed: {
    seasonsWithContent() {
      return this.seasons.filter(season => season.podcasts.length);
    }
  }
};
</script>

<style lang="scss">
.podcast-roll {
  .season-nav {
    border-bottom: 1px solid $pink;
    display: grid;
    grid-column: 3/31;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    padding-bottom: 20px;
    &__link {
      color: #737475;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      &.active {
        color: $teal;
        text-decoration: underline;
      }
    }
  }
  .headline {
    grid-column: 3/31;
    @include RalewayBold2();
    font-size: 28px;
    margin-top: $section-margin-desktop;
  }
  .posts-grid {
    display: grid;
    grid-column: 3/31;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    margin: $section-margin-desktop 0;
    .podcast {
      height: 400px;
      display: flex;
      align-items: center;
      .thumbnail {
        width: 57%;
        height: 100%;
        object-fit: cover;
      }
      .info-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        .text-wrap {
          padding: 40px 20px;
          h4 {
            @include RobotoSlabReg1();
            margin-bottom: 10px;
            text-transform: uppercase;
          }
          .title {
            @include RalewayBold3();
          }
          .description {
            font-size: 14px;
            margin: 10px 0 20px;
            color: $teal;
            p {
              line-height: 1.2rem;
            }
          }
          .platform-logo {
            display: block;
            max-width: 140px;
          }
          .spotify-logo {
            margin-top: 10px;
          }
        }
      }
    }
  }
  @include MQ(L) {
    .grid-container {
      padding: 20px;
    }
    .season-nav {
      grid-template-columns: repeat(3, 1fr);
    }
    .headline {
      margin-top: 0;
    }
    .posts-grid {
      margin: $section-margin-mobile 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      .podcast {
        flex-direction: column;
        height: auto;
        width: 100%;
        .thumbnail {
          height: 400px;
          width: 100%;
        }
        .info-wrap {
          .text-wrap {
            padding: 20px 0;
          }
        }
      }
    }
  }
}
</style>
