<template>
  <section class="video-text">
    <div class="grid-container">
      <info-block :slice="slice" />
      <div class="video-wrap">
        <prismic-embed
          v-if="slice.primary.vimeo_url"
          :field="slice.primary.vimeo_url"
          class="embed-container"
        />
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"]
};
</script>
<style lang="scss">
.video-text {
  margin: $section-margin-desktop 0;
  position: relative;
  .info-block {
    grid-column: 5/15;
  }
  .video-wrap {
    grid-column: 17/31;
    padding: 40px 0;
  }
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  @include MQ(L) {
    display: block;
    .grid-container {
      padding: 20px;
    }
    .video-wrap {
      padding: 0;
    }
  }
}
</style>
