<form name="New customer enquiry" action="/" netlify>
  <input type="text" name="name" />
  <input type="text" name="company" />
  <input type="email" name="email" />
  <input type="text" name="phone" />
  <input type="text" name="queryType" />
  <input type="text" name="message" />
</form>

<form name="Existing customer enquiry (corporate travel)" action="/" netlify>
  <input type="text" name="name" />
  <input type="text" name="company" />
  <input type="email" name="email" />
  <input type="text" name="phone" />
  <input type="text" name="queryType" />
  <input type="text" name="existingCustomerType" />
  <input type="text" name="message" />
</form>

<form name="Existing customer enquiry (group / sports travel)" action="/" netlify>
  <input type="text" name="name" />
  <input type="text" name="company" />
  <input type="email" name="email" />
  <input type="text" name="phone" />
  <input type="text" name="queryType" />
  <input type="text" name="existingCustomerType" />
  <input type="text" name="message" />
</form>

<form name="Existing customer enquiry (accounts)" action="/" netlify>
  <input type="text" name="name" />
  <input type="text" name="company" />
  <input type="email" name="email" />
  <input type="text" name="phone" />
  <input type="text" name="queryType" />
  <input type="text" name="existingCustomerType" />
  <input type="text" name="message" />
</form>

<form name="Press enquiry" action="/" netlify>
  <input type="text" name="name" />
  <input type="text" name="company" />
  <input type="email" name="email" />
  <input type="text" name="phone" />
  <input type="text" name="queryType" />
  <input type="text" name="message" />
</form>

<form name="Other enquiry" action="/" netlify>
  <input type="text" name="name" />
  <input type="text" name="company" />
  <input type="email" name="email" />
  <input type="text" name="phone" />
  <input type="text" name="queryType" />
  <input type="text" name="otherQueryType" />
  <input type="text" name="message" />
</form>
