<template>
  <section
    class="image-text"
    :class="[
      slice.primary.image_side &&
      slice.primary.image_side.toLowerCase() === 'left'
        ? 'reverse'
        : '',
      slice.primary.background_colour ? 'has-bg' : '',
      slice.primary.grid && slice.primary.grid.toLowerCase() === 'half : half'
        ? 'grid-half'
        : 'grid-thirds'
    ]"
  >
    <div
      class="background"
      :style="{ backgroundColor: slice.primary.background_colour || '#fff' }"
    ></div>
    <div class="grid-container">
      <info-block :slice="slice" />
      <div class="img-wrap">
        <prismic-image v-if="slice.primary.image" :field="image" />
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"],
  computed: {
    image() {
      if (
        this.slice.primary.image_size &&
        this.slice.primary.image_size != "main"
      ) {
        return this.slice.primary.image[this.slice.primary.image_size];
      }

      return this.slice.primary.image;
    }
  }
};
</script>
<style lang="scss">
.image-text {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  margin: $section-margin-desktop 0;
  position: relative;
  .background {
    grid-row: 2/9;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    grid-row: 1/9;
    grid-template-rows: repeat(32, 1fr);
  }
  .info-block {
    grid-column: 5/15;
    grid-row: 1/33;
  }
  .img-wrap {
    grid-column: 17/31;
    grid-row: 1/33;
  }
  &.has-bg {
    .info-block {
      grid-row: 5/33;
    }
    .img-wrap {
      grid-row: 1/29;
    }
  }
  &.grid-thirds {
    .info-block {
      grid-column: 5/13;
    }
    .img-wrap {
      grid-column: 17/31;
    }
  }
  &.reverse {
    .info-block {
      grid-column: 19/31;
    }
    .img-wrap {
      grid-column: 3/17;
    }
    &.grid-thirds {
      .info-block {
        grid-column: 19/27;
      }
      .img-wrap {
        grid-column: 3/15;
      }
    }
  }
  @include MQ(L) {
    display: block;
    .grid-container {
      padding: 20px;
    }
  }
  @include MQ(M) {
    margin: $section-margin-mobile 0;
  }
}
</style>
