<template>
  <section class="masthead-case-study">
    <div class="background"></div>
    <div class="grid-container">
      <div class="info-block">
        <div class="text-block">
          <div class="fitty">
            <prismic-rich-text
              v-if="slice.primary.title"
              :field="slice.primary.title"
              class="heading"
            />
          </div>

          <prismic-rich-text
            v-if="slice.primary.subtitle"
            :field="slice.primary.subtitle"
            class="subtitle"
          />
          <prismic-rich-text
            v-if="slice.primary.description"
            :field="slice.primary.description"
            class="description"
          />
        </div>
      </div>
      <div class="img-block">
        <prismic-image
          v-if="slice.primary.image"
          :field="slice.primary.image"
        />
      </div>
    </div>
  </section>
</template>
<script>
import fitty from "fitty";

export default {
  props: ["slice"],
  mounted() {
    if (this.slice.primary.fit_title) {
      fitty(".masthead-case-study .info-block .heading", {
        maxSize: 46
      });
    }
  }
};
</script>
<style lang="scss">
.masthead-case-study {
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  position: relative;
  .background {
    background: $lightblue;
    grid-row: 1/17;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    grid-row: 2/16;
    grid-template-rows: repeat(32, 1fr);
  }
  .text-block {
    width: 100%;
  }
  .info-block {
    grid-column: 5/12;
    grid-row: 5/33;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .heading {
      @include RalewayBold1();
    }
    .subtitle {
      @include RobotoSlabReg1();
      margin: 20px 0;
    }
  }
  .description {
    p {
      margin-bottom: 20px;
    }
  }
  .img-block {
    grid-column: 15/33;
    grid-row: 1/33;
  }
  @include MQ(L) {
    display: block;
    .grid-container {
      display: flex;
      flex-direction: column-reverse;
      padding: 20px;
    }
    .img-block {
      padding: 60px 0 20px;
    }
    .text-block {
      .heading {
        @include RalewayBold2();
      }
    }
  }
}
</style>
