<template>
  <section class="container image-text-blog">
    <prismic-image v-if="slice.primary.image" :field="slice.primary.image" />

    <div class="info-wrap">
      <div class="text-wrap">
        <prismic-rich-text
          v-if="slice.primary.title"
          :field="slice.primary.title"
          class="title"
        />
        <prismic-rich-text
          v-if="slice.primary.text"
          :field="slice.primary.text"
          class="paragraph"
        />
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"],
  computed: {
    endpoint() {
      return this.$prismic && this.$prismic.apiEndpoint
        ? this.$prismic.apiEndpoint
            .split("/")
            .slice(0, -2)
            .join("/")
            .replace("cdn.", "")
        : null;
    }
  }
};
</script>
<style lang="scss">
.image-text-blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: $section-margin-desktop;
  margin-top: $section-margin-desktop;
  padding: 0 calc(100% / 32);
  img {
    height: 100%;
    object-fit: cover;
  }
  .info-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    .text-wrap {
      width: 100%;
      max-width: 600px;
      margin: 40px;
      .title {
        @include RalewayBold3();
        margin-bottom: 20px;
      }
      .paragraph {
        p {
          margin-bottom: 30px;
        }
      }
    }
  }
  @include MQ(L) {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    .info-wrap {
      .text-wrap {
        margin: 20px 0;
        max-width: 100%;
      }
    }
  }
  @include MQ(M) {
    margin: $section-margin-mobile 0;
  }
}
</style>
