<template>
  <section class="section_name">
    <!-- add your stuff here -->
  </section>
</template>
<script>
export default {
  props: ["slice"]
};
</script>
<style lang="scss">
.section_name {
}
</style>
