<template>
  <section class="block-quote">
    <div class="background"></div>
    <div class="grid-container">
      <div class="quote-heading">
        {{ slice.primary.quote }}
      </div>
      <prismic-rich-text :field="slice.primary.text" class="quote" />
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"]
};
</script>
<style lang="scss">
.block-quote {
  display: grid;
  margin: $section-margin-desktop 0;
  position: relative;
  .background {
    background: $teal;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    margin: 50px 0;
  }
  .quote-heading {
    grid-column: 7/15;
    @include RalewayBold2($lightblue);
  }
  .quote {
    grid-column: 17/25;
    color: white;
  }
  @include MQ(L) {
    display: flex;
    flex-direction: column;
    .grid-container {
      padding: 0 20px;
    }
    .quote-heading {
      @include RalewayBold2($lightblue);
    }
  }
  @include MQ(M) {
    margin: $section-margin-mobile 0;
  }
}
</style>
