<template>
  <section class="container newsletter-tall">
    <div class="wrap">
      <div class="info-block">
        <div class="heading">
          SIGN UP TO THE VENTUR NEWSLETTER
        </div>
        <div class="signup">
          <mailchimp-subscribe :color="'white'" />
          <div class="terms">
            By signing up, I agree to Ventur sending me the latest news and
            industry insights in line with their
            <a href="/legal#1">Privacy Policy</a>
          </div>
        </div>
      </div>
      <div class="socials">
        <a href="http://www.facebook.com/venturpartners"><facebook-icon /></a>
        <a href="https://twitter.com/VenturPartners" target="_blank"><twitter-icon /></a>
        <a href="https://www.linkedin.com/company/venturpartners"><linkedin-icon /></a>
        <a href="https://instagram.com/VenturPartners" target="_blank"><instagram-icon /></a>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"]
};
</script>
<style lang="scss">
@import "vue-material/dist/theme/engine";
@include md-register-theme(
  "default",
  (
    primary: white,
    accent: white
  )
);
@import "~vue-material/dist/components/MdField/theme";

.newsletter-tall {
  background: url("~assets/images/newsletter_bg.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 80px;
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .info-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: white;
      .heading {
        @include RalewayBold3(white);
      }
      .signup {
        margin-left: 100px;
        max-width: 400px;
        .md-field {
          margin: 10px 0 20px;
          &::after {
            background-color: white;
          }
          label {
            color: white !important;
          }
          .md-input {
            color: white !important;
          }
          .md-error {
            color: red;
          }
        }
        .terms {
          @include RaylewayMedium(white, 12px);
        }
      }
    }
    .socials {
      display: flex;
      justify-content: space-between;
      a {
        margin-left: 20px;
        background-color: $gold;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg g {
          fill: white !important;
          transition: fill 0.2s linear;
        }
        &:hover {
          svg g {
            fill: $teal !important;
          }
        }
      }
    }
  }
  @include MQ(L) {
    padding: 40px;
  }
  @include MQ(M) {
    padding: 0px;
    .wrap {
      flex-direction: column;
      .info-block {
        margin: 20px;
        .heading {
          max-width: 250px;
        }
        .signup {
          max-width: 100%;
          margin: 0 20px;
        }
      }
      .socials {
        margin-bottom: 20px;
        a {
          margin: 10px;
        }
      }
    }
  }
}
</style>
