<template>
  <section class="icon-list">
    <div class="container">
      <prismic-rich-text
        v-if="slice.primary.title"
        :field="slice.primary.title"
        class="heading"
      />
      <prismic-link
        v-if="slice.primary.link"
        :field="slice.primary.link"
        class="link"
      >
        {{ slice.primary.cta }}
        <arrow-right />
      </prismic-link>
      <div class="icon-block">
        <div v-for="(item, i) in slice.items" :key="i" class="item">
          <div class="image-wrap">
            <prismic-image :field="item.image" />
          </div>
          <div class="label">{{ item.title }}</div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"]
};
</script>
<style lang="scss">
.icon-list {
  margin-top: $section-margin-desktop;
  text-align: center;
  .heading {
    @include RalewayBold2($teal);
  }
  .link {
    display: inline-block;
    margin-top: 15px;
    @include RalewayBold4($gold);
    color: $gold !important;
    .arrow-right {
      margin-left: 20px;
    }
  }
  .icon-block {
    max-width: 1080px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 20px;
      .image-wrap {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: auto;
        }
      }
      .label {
        margin-top: 10px;
        @include RalewayBold4($teal);
        text-align: center;
        max-width: 150px;
        height: 60px;
      }
    }
  }
  @include MQ(XL) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .heading {
      @include RalewayBold2($lightblue);
    }
    .icon-block {
      flex-wrap: wrap;
      .item {
        width: calc(100% / 3);
      }
    }
  }
  @include MQ(M) {
    margin: $section-margin-mobile 0;
    .icon-block .item {
      width: 50%;
    }
  }
}
</style>
