<template>
  <section class="contact-info">
    <div class="background"></div>
    <div class="grid-container">
      <div class="title">CONTACT VENTUR</div>
      <img class="image" :src="require('@/assets/images/contact_info_img.png')" />
      <div class="list-block">
        <div class="item">
          <div class="heading">EMAIL US</div>
          <p>
            <a @click="scrollToForm">Send an email enquiry below</a>
          </p>
        </div>
        <div class="item">
          <div class="heading">CALL US</div>
          <p>
            <a href="tel:+441132457745">+44 (0)113 245 7745</a>
          </p>
        </div>
        <div class="item">
          <div class="heading">24HR SUPPORT*</div>
          <p>
            Need urgent support outside of office hours? We're always on hand to
            answer your call.
          </p>
        </div>
        <div class="item">
          <div class="heading">OPENING HOURS**</div>
          <p>Mon-Fri 09:00-17:30</p>
        </div>
        <div class="footnote footnote-1">
          <p>
            *Please note, fees apply out of hours.
          </p>
          <p>
            Emails only monitored during office hours.
          </p>
        </div>
        <div class="footnote footnote-2">
          <p>
            **Excluding Bank Holidays.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"],
  methods: {
    scrollToForm() {
      // If a contact form exists, scroll to it...
      const formEl = document.querySelector('.contact-form-page .title');
      if (formEl) {
        const formStyle = getComputedStyle(document.querySelector('.contact-form-page'));
        window.scroll({
          top: formEl.getBoundingClientRect().top - parseInt(formStyle.marginTop),
          behaviour: 'smooth'
        });
      }
    }
  }
};
</script>
<style lang="scss">
.contact-info {
  margin-bottom: $section-margin-desktop;
  display: grid;
  grid-template-rows: repeat(32, 1fr);
  position: relative;
  .background {
    background: $lightgreen;
    grid-row: 1/24;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    grid-row: 1/33;
    grid-template-rows: repeat(32, 1fr);
  }
  .title {
    @include RalewayBold1($teal);
    align-items: center;
    display: flex;
    grid-column: 5/13;
    grid-row: 4/18;
  }
  .image {
    grid-column: 15/33;
    grid-row: 1/20;
  }
  .list-block {
    grid-column: 7/29;
    grid-row: 18/33;
    display: grid;
    grid-template-columns: minmax(auto, 700px) 250px;
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    grid-auto-flow: column;
    .item {
      background-color: $teal;
      padding: 20px 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .heading {
        @include RalewayBold3(white);
      }
      p {
        @include RaylewayMedium(white, 14px);
      }
      a {
        color: #fff;
        cursor: pointer;
        &:hover {
          color: #fff
        }
      }
    }
    .footnote {
      grid-column: 2/3;
      grid-row: 3/4;
      align-self: center;
      p {
        @include RaylewayMedium($grey, 10px);
        margin: 0;
        line-height: 16px;
      }
    }
    .footnote-2 {
      grid-row: 4/5;
    }
  }
  @include MQ(M) {
    display: block;
    margin-bottom: $section-margin-mobile;
    .grid-container {
      display: flex;
      flex-direction: column;
    }
    .image {
      order: -1;
      padding-top: 60px;
    }
    .title {
      @include RalewayBold2;
      padding: 20px;
    }
    .list-block {
      padding: 0 0 20px 60px;
      display: flex;
      flex-direction: column;
      .item {
        margin-bottom: 10px;
      }
      .footnote {
        align-self: flex-start;
      }
    }
  }
}
</style>
