<template>
  <section class="quote">
    <div class="container">
      <div class="text-wrap">
        <h4 :style="{ color: slice.primary.colour }">
          “{{ slice.primary.quote }}”
        </h4>
        <prismic-rich-text :field="slice.primary.text" class="text" />
        <template v-if="$config.env.isAnonymised != 'true'">
          <h5 v-html="nl2br(slice.primary.author)"></h5>
          <prismic-link
            v-if="
              slice.primary.link &&
                (slice.primary.link.url || slice.primary.link.uid)
            "
            :field="slice.primary.link"
            :style="{ color: slice.primary.colour }"
            class="link"
          >
            READ MORE
            <arrow-right :color="slice.primary.colour" />
          </prismic-link>
        </template>
      </div>
    </div>
  </section>
</template>
<script>
import StringHelper from "@/mixins/StringHelper";
export default {
  props: ["slice"],
  mixins: [StringHelper],
  computed: {
    endpoint() {
      return this.$prismic && this.$prismic.apiEndpoint
        ? this.$prismic.apiEndpoint
            .split("/")
            .slice(0, -2)
            .join("/")
            .replace("cdn.", "")
        : null;
    }
  }
};
</script>
<style lang="scss">
.quote {
  display: flex;
  align-items: flex-start;
  margin-bottom: $section-margin-desktop;
  flex-direction: row;
  .text-wrap {
    text-align: center;
    h4 {
      @include RalewayBold2();
      margin: 10px auto;
      max-width: 760px;
    }
    h5 {
      @include RobotoSlabReg1();
      margin-bottom: 20px;
    }
    .text {
      margin: 20px 0;
      p {
        margin-bottom: 20px;
      }
    }
    .link {
      @include RalewayBold4();
    }
  }
  @include MQ(XL) {
    .text-wrap {
      h4 {
        @include RalewayBold3();
      }
    }
  }
  @include MQ(L) {
    padding: 20px;
  }
  @include MQ(M) {
    margin: $section-margin-mobile 0;
  }
}
</style>
