<template>
  <section class="map-slice">
    <div class="wrap">
      <!-- Keeping this for when we can get the api to work -->
      <!-- <div class="map-wrap" v-if="mapDataLoaded">
        <GmapMap
          :center="addressCoordinates[currentLocation]"
          map-type-id="terrain"
          style="width: 100%; height: 100%"
          v-bind:options="mapOptions"
        />
      </div> -->
      <div class="map-wrap">
        <a
          v-for="(item, i) in slice.items"
          :key="i"
          v-show="currentIndex === i"
          :href="item.google_maps_url.url"
          target="_blank"
        >
          <prismic-image :field="item.image" />
        </a>
      </div>
      <ul class="location-list">
        <li
          v-for="(item, i) in slice.items"
          :key="item.title"
          @click.prevent="selectLocation(i)"
          :class="currentIndex === i ? 'active' : ''"
        >
          <div class="title">
            {{ item.title }}
          </div>
          <div class="address">
            <prismic-rich-text :field="item.address" class="rich-text" />
          </div>
        </li>
      </ul>
      <div class="current-location">
        <div
          v-for="(item, i) in slice.items"
          :key="i"
          v-show="currentIndex === i"
        >
          <div class="heading">
            {{ item.title }}
          </div>
          <div class="address">
            <prismic-rich-text :field="item.address" class="rich-text" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
// import mapStyles from "./mapStyles";
// import axios from "axios";
export default {
  props: ["slice"],
  data: () => ({
    // currentLocation: "",
    currentIndex: 0
    // addressCoordinates: {}
    // mapDataLoaded: false,
    // mapOptions: {
    //   zoom: 11,
    //   zoomControl: false,
    //   mapTypeControl: false,
    //   scaleControl: false,
    //   streetViewControl: false,
    //   rotateControl: false,
    //   fullscreenControl: false,
    //   disableDefaultUI: false,
    //   styles: mapStyles.styles
    // }
  }),
  methods: {
    selectLocation: function(index) {
      this.currentIndex = index;
    }
    // async getCoordinates(address) {
    //   const { data } = await axios.post("/api/geocode", { data: address });
    //   console.log("RETURNED DATA IN COMPONENT", data.results);
    //   this.addressCoordinates[address.title] =
    //     data.results[0].geometry.location;

    //   if (
    //     this.slice.items.length === Object.keys(this.addressCoordinates).length
    //   ) {
    //     this.mapDataLoaded = true;
    //   }
    // }
  },
  mounted() {
    // console.log("THIS IS THE SLICE ITEMS", this.slice.items);
    // this.slice.items.map(item => {
    //   this.getCoordinates(item);
    // });
    // console.log(this.addressCoordinates);
  }
};
</script>
<style lang="scss">
.map-slice {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $section-margin-desktop 0;
  .wrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 40px;
    display: grid;
    grid-template-columns: minmax(300px, 650px) 50px 300px;
    grid-template-rows: 70px 300px 200px;
    .map-wrap {
      grid-column: 1/3;
      grid-row: 2/4;
      // max-width: 600px;
      width: 100%;
      height: 500px;
      z-index: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .location-list {
      z-index: 1;

      grid-column: 2/4;
      grid-row: 1/3;
      display: flex;
      flex-direction: column;
      list-style-type: none;
      li {
        .title {
          background: $lightgreen;
          @include RalewayBold4($teal);
          margin-bottom: 10px;
          padding: 10px 25px;
          cursor: pointer;
        }
        .address {
          display: none;
        }
        &.active {
          .title {
            background-color: $teal;
            color: white;
          }
        }
      }
    }
    .current-location {
      grid-column: 3/4;
      grid-row: 3/4;
      align-self: center;
      justify-self: start;
      padding: 40px;
      .heading {
        @include RalewayBold2($teal);
        margin-bottom: 10px;
      }
      .address {
        margin-left: 60px;
        margin-bottom: 10px;

        p {
          margin-bottom: 10px;
        }
      }
    }
  }
  @include MQ(L) {
    margin: $section-margin-mobile 0 0 0;
    .wrap {
      padding: 20px;
      margin: 0;
      display: flex;
      flex-direction: column;
      .map-wrap {
        margin-bottom: 20px;
        height: 300px;
      }
      .location-list {
        align-self: flex-end;
        width: 100%;
        max-width: 400px;
        padding-left: 20px;
        li {
          .address {
            display: block;
            max-height: 0;
            overflow: hidden;
            padding: 0 20px;
            transition: all 0.3s linear;
            p {
              margin-bottom: 10px;
            }
          }
          &.active {
            .address {
              max-height: 300px;
              padding: 20px;
            }
          }
        }
      }
      .current-location {
        display: none;
      }
    }
  }
  @include MQ(M) {
    .wrap {
      .map-wrap {
        height: 250px;
      }
    }
  }
}
</style>
