<template>
  <section class="bullet-list">
    <div
      class="background"
      :style="{ backgroundColor: slice.primary.background_colour || '#b5dad1' }"
    ></div>
    <div class="grid-container">
      <div class="bullet-content">
        <prismic-rich-text
          v-if="slice.primary.title"
          :field="slice.primary.title"
          class="heading"
        />
        <prismic-rich-text
          v-if="slice.primary.description"
          :field="slice.primary.description"
          class="paragraph"
        />
        <div class="list-wrap">
          <ul>
            <li class="item" v-for="item in slice.items" :key="item.title">
              <h5>{{ item.title }}</h5>
              <p>{{ item.decription }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"]
};
</script>
<style lang="scss">
.bullet-list {
  margin: $section-margin-desktop 0;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  position: relative;
  .background {
    background: $lightgreen;
    grid-row: 1/7;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    grid-row: 1/9;
  }
  .bullet-content {
    grid-column: 7/27;
  }
  .heading {
    margin: 40px 0 20px;
    @include RalewayBold2();
  }
  .paragraph {
    max-width: 500px;
    margin-bottom: 40px;
    @include RobotoSlabReg1();
  }
  .list-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: calc(100% / 10);
    ul {
      width: 100%;
      list-style-type: none;
      li {
        background: $teal;
        padding: 20px 40px;
        margin-bottom: 15px;
        &:last-of-type {
          margin-bottom: 0;
        }
        h5 {
          @include RalewayBold3(white);
        }
        p {
          @include RaylewayMedium(white, 14px);
        }
      }
    }
  }
  @include MQ(L) {
    padding-top: 40px;
    margin: $section-margin-mobile 0;
    .grid-container {
      padding: 0 20px;
    }
    .heading {
      @include RalewayBold2();
    }
    .paragraph {
      margin-bottom: 20px;
    }
  }
}
</style>
