html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: $teal;
  line-height: normal;
  z-index: 0;
  font-family: raleway;
  font-size: 16px;
  font-weight: 200;
  color: $teal;
}

p {
  line-height: 1.4rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.container,
.grid-container {
  max-width: $container-max-width;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  @include MQ(XL) {
    display: block;
  }
}

button {
  cursor: pointer;
}

a,
button {
  .arrow-right {
    transition: all 0.2s linear;
  }
  &:hover {
    .arrow-right {
      transform: translateX(8px);
    }
  }
}

::selection {
  background: #accef7 !important;
}

@import "./hamburgers/hamburgers.scss";
