@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway/ventur-raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/Raleway/ventur-raleway-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway/ventur-raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/Raleway/ventur-raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'robotoslabregular';
    src: url('../fonts/RobotoSlab/RobotoSlab-Regular.woff2') format('woff2'),
         url('../fonts/RobotoSlab/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    