$breakpoints: (
  XXXL: 1500px,
  XXL: 1200px,
  XL: 1000px,
  L: 900px,
  M: 768px,
  S: 599px,
  XS: 400px
);

@mixin MQ($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Invalid breakpoint `#{$name}`.";
  } @else {
    @if map-get($breakpoints, $name) {
      @media (max-width: map-get($breakpoints, $name)) {
        @content;
      }
    } @else {
      @content;
    }
  }
}

@mixin allTags() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
  }
}

@mixin RalewayBold1($color: $teal) {
  font-family: raleway;
  font-size: 46px;
  font-weight: bold;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  color: $color;
  @include allTags();
}

@mixin RalewayBold2($color: $teal) {
  font-family: raleway;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  color: $color;
  @include allTags();
}

@mixin RalewayBold3($color: $teal) {
  font-family: raleway;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  color: $color;
  @include allTags();
}

@mixin RalewayBold4($color: $teal) {
  font-family: raleway;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  color: $color;
  @include allTags();
  @include MQ(S) {
    font-size: 12px;
  }
}

@mixin RaylewayMedium($color: $teal, $font-size: 15px) {
  font-family: raleway;
  font-size: $font-size;
  color: $color;
  @include allTags();
}

@mixin RobotoSlabReg1($color: $teal) {
  font-family: robotoslabregular;
  font-size: 16px;
  text-transform: uppercase;
  color: $color;
  @include allTags();
}
