$teal: #00303d;
$pink: #e28e80;
$lightgreen: #b5dad1;
$gold: #e3a74e;
$lightblue: #aabdcb;
$grey: #aaa9a5;
$lightgrey: #e7e6e4;

$container-max-width: 1440px;

$section-margin-desktop: 50px;
$section-margin-mobile: 40px;
