<template>
  <section class="container blog-content">
    <div class="side-panel">
      <prismic-image :field="slice.primary.image" />
      <div v-if="slice.primary.quote" class="quote">
        <quote-marks />
        {{ slice.primary.quote }}
      </div>
    </div>
    <div class="main-panel">
      <div class="text-wrap">
        <div class="date">{{ blogPost.humanDate }}</div>
        <div class="excerpt">
          {{ slice.primary.excerpt }}
        </div>
        <prismic-rich-text :field="slice.primary.text" class="rich-text" />
      </div>
    </div>
  </section>
</template>
<script>
import moment from 'moment';

export default {
  props: ["slice"],
  data() {
    return {
      blogPost: {}
    };
  },
  async fetch() {
    const blogPost = await this.$prismic.api.getByUID('blog_post', this.$route.params.uid);
    const orderByDate = blogPost.data.override_publication_date ? blogPost.data.post_date : blogPost.last_publication_date;

    this.blogPost = {
      ...blogPost,
      orderByDate: orderByDate,
      humanDate: moment(orderByDate).format('Do MMMM YYYY'),
    }
  }
};
</script>
<style lang="scss">
.blog-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: $section-margin-desktop;
  margin-top: $section-margin-desktop;
  .side-panel {
    width: calc(100% / 16 * 5);
    > img {
      margin-bottom: 100px;
    }
    .quote {
      max-width: 360px;
      width: 100%;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include RalewayBold2($lightgreen);
      .quote-marks {
        margin-bottom: 20px;
      }
    }
  }
  .main-panel {
    width: calc(100% / 16 * 10);
    .text-wrap {
      padding: 0 10% 0 20%;
      .date {
        color: $gold;
        font-size: 14px;
        margin-bottom: 20px;
      }
      .excerpt {
        max-width: 500px;
        width: 100%;
        margin-bottom: 40px;
        @include RobotoSlabReg1();
      }
      .rich-text {
        p {
          margin-bottom: 30px;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          @include RalewayBold4();
          margin-bottom: 10px;
        }
        a {
          color: $gold;
          text-decoration: underline;
        }
        ol,
        ul {
          padding-left: 20px;
        }
      }
    }
  }
  div[data-oembed] {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  @include MQ(M) {
    margin: $section-margin-mobile 0;
    flex-direction: column;
    .side-panel {
      width: 100%;
      padding: 0 20px;
      > img {
        max-height: 350px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 20px;
      }
      .quote {
        max-width: 100%;
        @include RalewayBold3($lightgreen);
        .quote-marks {
          max-width: 30px;
          margin-bottom: 10px;
        }
      }
    }
    .main-panel {
      margin-top: 20px;
      width: 100%;
      .text-wrap {
        padding: 0 20px;
        .excerpt {
          margin-bottom: 20px;
        }
        .rich-text {
          margin-left: 0;
        }
      }
    }
  }
}
</style>
