<template>
  <section class="contact-form-page">
    <div class="container">
      <div class="title">
        LET’S BEGIN YOUR VENTUR
      </div>
    </div>
    <div class="contact-form-page-grid">
      <div class="background"></div>
      <div class="grid-container">
        <prismic-image
          class="image"
          v-if="slice.primary.image"
          :field="slice.primary.image"
        />
        <div class="form-block">
          <div class="form-wrap">
            <template v-if="formSuccess">
              <div class="heading">
                THANK YOU
              </div>
              <p>
                We have received your enquiry and will come back to you as soon
                as possible.
              </p>
            </template>
            <template v-else>
              <div class="heading">
                GET IN TOUCH
              </div>
              <p>
                We aim to reply to all enquiries within 2 hours, but please
                allow up to 1 working day.
              </p>

              <validation-observer ref="contactForm" v-slot="{ invalid }">
                <form
                  action=""
                  data-netlify="true"
                  data-netlify-honeypot="bot-field"
                  class="md-layout"
                  method="post"
                  @submit.prevent="handleSubmit()"
                >
                  <input type="hidden" name="form-name" value="contactForm" />
                  <validation-provider
                    rules="required"
                    v-slot="{ errors }"
                    name="Name"
                    tag="div"
                    class="input-wrap half"
                  >
                    <md-field :class="errors[0] ? 'md-invalid' : ''">
                      <label>Name</label>
                      <md-input name="name" v-model="form.name" />
                      <span class="md-error">{{ errors[0] }}</span>
                    </md-field>
                  </validation-provider>
                  <div class="input-wrap half">
                    <md-field>
                      <label>Company</label>
                      <md-input name="company" v-model="form.company" />
                    </md-field>
                  </div>
                  <validation-provider
                    rules="email|required"
                    v-slot="{ errors }"
                    name="Email"
                    tag="div"
                    class="input-wrap half"
                  >
                    <md-field :class="errors[0] ? 'md-invalid' : ''">
                      <label>Email</label>
                      <md-input name="email" v-model="form.email" />
                      <span class="md-error">{{ errors[0] }}</span>
                    </md-field>
                  </validation-provider>
                  <div class="input-wrap half">
                    <md-field>
                      <label>Phone No.</label>
                      <md-input name="phone" v-model="form.phone" />
                    </md-field>
                  </div>
                  <select
                    class="query-type"
                    name="queryType"
                    v-model="form.queryType"
                    @change="clearQueries()"
                  >
                    <option value="">How can we help?</option>
                    <option
                      value="I’m a new customer interested in partnering with Ventur"
                      >I’m a new customer interested in partnering with
                      Ventur</option
                    >
                    <option value="I’m an existing customer with a query"
                      >I’m an existing customer with a query</option
                    >
                    <option value="I have a press enquiry"
                      >I have a press enquiry</option
                    >
                    <option value="I want to speak to you about something else"
                      >I want to speak to you about something else</option
                    >
                  </select>
                  <div
                    v-show="
                      form.queryType === 'I’m an existing customer with a query'
                    "
                    class="radio-wrap"
                  >
                    <md-radio
                      v-model="form.existingCustomerType"
                      value="Corporate travel"
                      >Corporate travel</md-radio
                    >
                    <md-radio
                      v-model="form.existingCustomerType"
                      value="Group travel"
                      >Group travel</md-radio
                    >
                    <md-radio
                      v-model="form.existingCustomerType"
                      value="Sports travel"
                      >Sports travel</md-radio
                    >
                    <md-radio
                      v-model="form.existingCustomerType"
                      value="Accounts"
                      >Accounts</md-radio
                    >
                  </div>
                  <validation-provider
                    rules="required"
                    v-slot="{ errors }"
                    name="Message"
                    tag="div"
                    class="input-wrap"
                  >
                    <md-field :class="errors[0] ? 'md-invalid' : ''">
                      <label>Message</label>
                      <md-textarea name="message" v-model="form.message" />
                      <span class="md-error">{{ errors[0] }}</span>
                    </md-field>
                  </validation-provider>
                  <div class="switch-wrap">
                    <md-switch v-model="form.newsletter_signup"></md-switch>
                    <p>
                      Would you like to sign up to our email newsletter to
                      receive the latest news and industry insights? View our
                      <a href="/legal#1">Privacy Policy</a>
                    </p>
                  </div>
                  <button type="submit">
                    SEND
                  </button>
                </form>
                <p class="recaptcha-error">{{ recaptchaError }}</p>
              </validation-observer>
            </template>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
export default {
  props: ["slice"],
  data() {
    return {
      form: {
        name: "",
        company: "",
        email: "",
        phone: "",
        queryType: "",
        existingCustomerType: "",
        otherQueryType: "",
        message: "",
        newsletter_signup: false
      },
      formSuccess: false,
      recaptchaError: "",
    };
  },
  async mounted() {
    try {
      await this.$recaptcha.init()
    } catch (e) {
      console.error(e);
    }
  },
  computed: {
    formName() {
      if (
        this.form.queryType ==
        "I’m a new customer interested in partnering with Ventur"
      ) {
        return "New customer enquiry";
      }

      if (this.form.queryType == "I’m an existing customer with a query") {
        if (this.form.existingCustomerType == "Corporate travel") {
          return "Existing customer enquiry (corporate travel)";
        }

        if (
          this.form.existingCustomerType == "Group travel" ||
          this.form.existingCustomerType == "Sports travel"
        ) {
          return "Existing customer enquiry (group / sports travel)";
        }

        if (this.form.existingCustomerType == "Accounts") {
          return "Existing customer enquiry (accounts)";
        }
      }

      if (this.form.queryType == "I have a press enquiry") {
        return "Press enquiry";
      }

      if (
        this.form.queryType == "I want to speak to you about something else"
      ) {
        return "Other enquiry";
      }
    }
  },
  methods: {
    encode(data) {
      return Object.keys(data)
        .map(
          key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
        )
        .join("&");
    },
    async handleSubmit() {
      this.recaptchaError = '';
      const isValid = await this.$refs.contactForm.validate();

      if (isValid) {
        try {
          const recaptchaToken = await this.$recaptcha.execute('login')

          axios
            .post("/.netlify/functions/sendgrid", {
              name: this.form.name,
              company: this.form.company,
              email: this.form.email,
              phone: this.form.phone,
              queryType: this.form.queryType,
              existingCustomerType: this.form.existingCustomerType,
              message: this.form.message,
              recaptchaToken: recaptchaToken,
            })
            .then(() => {
              this.formSuccess = true;
            })
            .catch((e) => {
              this.recaptchaError = e
            });

          if (this.form.newsletter_signup) {
            // axios.post("/api/subscribe", { // local
            axios.post("/.netlify/functions/mailchimp-subscribe", {
              email: this.form.email
            });
          }
        } catch (error) {
          this.recaptchaError = error
        }
      }
    },
    clearQueries() {
      this.form.existingCustomerType = "";
      this.form.otherQueryType = "";
    }
  },
  beforeDestroy() {
    this.$recaptcha.destroy()
  }
};
</script>
<style lang="scss">
@import "vue-material/dist/theme/engine";
@include md-register-theme(
  "default",
  (
    primary: $teal,
    accent: $teal
  )
);
@import "~vue-material/dist/theme/all";
.contact-form-page {
  margin: $section-margin-desktop + 60px 0 $section-margin-desktop 0;
  .contact-form-page-grid {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    position: relative;
  }
  .background {
    background: $gold;
    grid-row: 1/16;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    grid-row: 1/17;
    grid-template-rows: repeat(32, 1fr);
  }
  .title {
    @include RalewayBold1($teal);
    padding: 0 calc(100% / 16) 20px;
  }
  .image {
    grid-column: 3/17;
    grid-row: 3/33;
    height: 100%;
    object-fit: cover;
  }
  .form-block {
    grid-column: 19/31;
    grid-row: 3/29;
    background: $gold;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    .form-wrap {
      width: 100%;
      max-width: 600px;
      .heading {
        @include RalewayBold3($teal);
      }
      p {
        @include RaylewayMedium($teal);
        margin: 10px 0 20px 0;

        &.recaptcha-error {
          color: var(--md-theme-default-fieldvariant, #ff1744);
        }
      }
      form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .input-wrap {
          width: 100%;
          &.half {
            width: calc(50% - 10px);
          }
        }
        .md-radio {
          margin-bottom: 0;
          &.md-theme-default.md-checked .md-radio-container {
            border-color: $teal;
            &:after {
              background-color: $teal;
            }
          }
        }
        .md-field {
          margin-bottom: 5px;
          label {
            color: $teal;
          }
          &.md-has-textarea {
            padding-top: 26px;

            &:not(.md-autogrow) {
              &:after,
              &:before {
                border-top: none;
                border-left: none;
                border-right: none;
                border-radius: 0;
              }

              .md-textarea {
                min-height: 64px;
                padding-left: 0;
                padding-right: 0;
              }
            }
          }
        }
        .md-input {
          caret-color: $teal;
          width: 100%;
        }
        .radio-wrap {
          display: flex;
          flex-wrap: wrap;
        }
        .switch-wrap {
          display: flex;
          align-items: flex-start;
          margin-top: 10px;
          width: 100%;
          .md-switch {
            margin-top: 20px;
            &.md-checked {
              .md-switch-container {
                background-color: $teal;
              }
            }
          }
          p {
            font-size: 14px;
            max-width: 500px;
          }
        }
        label {
          left: 0.2rem;
        }
        input {
          background-color: transparent !important;
          padding-left: 0.2rem;
        }
        button {
          margin: 10px 0 0 0;
          margin-left: auto;
          min-width: 150px;
          padding: 15px 20px;
          border: none;
          border-radius: 0;
          background-color: $teal;
          display: flex;
          align-items: center;
          justify-content: center;
          @include RalewayBold4(white);
          cursor: pointer;
          &.disabled {
            cursor: not-allowed;
          }
        }
        select {
          @include RaylewayMedium();
          background: transparent;
          border: none;
          border-bottom: 1px solid $teal;
          border-radius: 0;
          font-size: 16px;
          outline: none;
          width: 100% !important;
          margin-top: 20px;
          padding: 0;
        }
      }
    }
  }
  @include MQ(L) {
    .title {
      @include RalewayBold2();
    }
    .image {
      height: auto;
    }
  }
  @include MQ(M) {
    margin: $section-margin-mobile 0;
    .form-block {
      padding: 20px;
      .form-wrap {
        form {
          .input-wrap {
            &.half {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
</style>
