<template>
  <div class="blog-roll">
    <div v-if="firstBlogPost" class="first-post">
      <div class="background"></div>
      <prismic-link
        class="grid-container"
        :field="firstBlogPost[0]"
      >
        <prismic-image
          v-if="firstBlogPost[0].data.thumbnail.url"
          :field="firstBlogPost[0].data.thumbnail"
        />
        <div class="info-wrap">
          <div class="text-wrap">
            <h4>{{ firstBlogPost[0].data.category || 'INSIGHT' }}</h4>
            <div class="date">{{ firstBlogPost[0].humanDate }}</div>
            <prismic-rich-text
              class="title"
              :field="firstBlogPost[0].data.title"
            />
            <prismic-rich-text
              class="intro"
              :field="firstBlogPost[0].data.body[0].primary.subtitle"
            />
            <div class="link">
              READ MORE
              <arrow-right />
            </div>
          </div>
        </div>
      </prismic-link>
    </div>
    <div class="grid-container">
      <div class="posts-grid">
        <prismic-link
          v-for="(item, i) in remainingBlogPosts"
          :key="i"
          :field="item"
          class="blog"
        >
          <prismic-image
            v-if="item.data.thumbnail.url"
            :field="item.data.thumbnail"
          />
          <div class="info-wrap">
            <div class="text-wrap">
              <h4>{{ item.data.category || 'INSIGHT' }}</h4>
              <div class="date">{{ item.humanDate }}</div>
              <prismic-rich-text class="title" :field="item.data.title" />
              <prismic-rich-text
                class="intro"
                :field="item.data.body[0].primary.subtitle"
              />
              <div class="link">
                READ MORE
                <arrow-right />
              </div>
            </div>
          </div>
        </prismic-link>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  data() {
    return {
      blogPosts: {}
    };
  },
  computed: {
    firstBlogPost: function() {
      return this.blogPosts.length
        ? this.blogPosts.filter((blog, i) => i === 0)
        : null;
    },
    remainingBlogPosts: function() {
      return this.blogPosts.length
        ? this.blogPosts.filter((blog, i) => i !== 0)
        : null;
    }
  },
  async fetch() {
    let blogPosts = await this.$prismic.api.query(
      this.$prismic.predicates.at("document.type", "blog_post"),
      { orderings : '[document.last_publication_date desc]' }
    );

    blogPosts = blogPosts.results.map(post => {
      const orderByDate = post.data.override_publication_date ? post.data.post_date : post.last_publication_date;

      return {
        ...post,
        orderByDate: orderByDate,
        humanDate: moment(orderByDate).format('Do MMMM YYYY'),
      }
    });

    this.blogPosts = blogPosts.sort(function(a, b) {
      return new Date(b.orderByDate) - new Date(a.orderByDate);
    });
  }
};
</script>

<style lang="scss">
.blog-roll {
  .first-post {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    position: relative;
    .background {
      background: $lightblue;
      grid-row: 1/17;
      height: 100%;
      position: absolute;
      width: 100%;
    }
    .grid-container {
      grid-row: 1/16;
      grid-template-rows: repeat(32, 1fr);
    }
    img {
      grid-column: 1/17;
      grid-row: 1/31;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }
    .info-wrap {
      grid-column: 19/29;
      grid-row: 5/33;
      background-color: $lightblue;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .text-wrap {
        h4 {
          @include RobotoSlabReg1();
          text-transform: uppercase;
        }
        .date {
          font-size: 14px;
          margin-bottom: 20px;
        }
        .title {
          @include RalewayBold2();
        }
        .intro {
          @include RobotoSlabReg1();
          margin: 10px 0 30px;
        }
        .link {
          @include RalewayBold4(white);
          svg {
            g {
              fill: white;
            }
          }
        }
      }
    }
    @include MQ(L) {
      display: flex;
      flex-direction: column;
      padding-top: 60px;
      position: relative;
      .background {
        height: calc(100% - 60px);
      }
      .info-wrap {
        padding: 20px;
      }
    }
  }
  .posts-grid {
    display: grid;
    grid-column: 3/31;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    margin: $section-margin-desktop 0;
    .blog {
      height: 400px;
      display: flex;
      align-items: center;
      img {
        width: 57%;
        height: 100%;
        object-fit: cover;
      }
      .info-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        .text-wrap {
          padding: 40px;
          h4 {
            @include RobotoSlabReg1();
            text-transform: uppercase;
          }
          .date {
            color: $gold;
            font-size: 14px;
            margin-bottom: 20px;
          }
          .title {
            @include RalewayBold3();
          }
          .intro {
            margin: 20px 0 40px;
            color: $teal;
          }
          .link {
            @include RalewayBold4($teal);
            svg {
              margin-left: 10px;
              g {
                fill: $teal;
              }
            }
          }
        }
      }
    }
    @include MQ(L) {
      margin: $section-margin-mobile 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      .blog {
        flex-direction: column;
        height: auto;
        width: 100%;
        img {
          height: 400px;
          padding: 20px;
          width: 100%;
        }
        .info-wrap {
          .text-wrap {
            padding: 0 20px;
          }
        }
      }
    }
  }
}
</style>
