<template>
  <section class="grid-list">
    <div class="grid-container">
      <div class="info-wrap">
        <div class="grid-wrap">
          <prismic-rich-text
            v-if="slice.primary.title"
            :field="slice.primary.title"
            class="heading"
          />

          <div class="grid-block">
            <div v-for="item in slice.items" :key="item.title" class="grid-item">
              <div class="title">{{ item.title }}</div>
              <prismic-rich-text
                v-if="item.description"
                :field="item.description"
                :htmlSerializer="htmlSerializer"
                class="paragraph"
              />
            </div>
          </div>
        </div>
      </div>
      <prismic-image v-if="slice.primary.image" :field="slice.primary.image" />
    </div>
  </section>
</template>
<script>
import prismicDOM from 'prismic-dom';

const Elements = prismicDOM.RichText.Elements;

const htmlSerializer = function (type, element, content, children) {
  // Look for jump links the content
  if (type == 'hyperlink') {
    const regex = /https?:\/\/#/i;
    var target = element.data.target ? 'target="' + element.data.target + '" rel="noopener"' : '';
    var originalLink = prismicDOM.Link.url(element.data);
    var jumpLink = null;

    if (regex.test(originalLink)) {
      jumpLink = originalLink.replace(/https:?:\/\//i, '');
    }

    if (jumpLink) {
      return `<a class="jump-link" href="${jumpLink}">${content}</a>`;
    }

    return `<a href="${originalLink}" ${target}>${content}</a>`;
  }

  // Return null to stick with the default behavior for everything else
  return null;
}

export default {
  props: ["slice"],
  data: () => ({
    htmlSerializer,
  }),
};
</script>
<style lang="scss">
.grid-list {
  margin: $section-margin-desktop 0;
  img {
    grid-column: 23/31;
    height: 100%;
    object-fit: cover;
  }
  .info-wrap {
    grid-column: 5/21;
    display: flex;
    align-items: center;
    justify-content: center;
    .grid-wrap {
      width: 100%;
      padding: 40px 0;
      .heading {
        @include RalewayBold2();
        margin-bottom: 40px;
      }
      .grid-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .grid-item {
          width: 50%;
          padding: 0 40px 40px 0;
          .title {
            @include RalewayBold3();
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .paragraph {
    a {
      color: $gold;
    }
  }
  @include MQ(XL) {
    flex-direction: column;
    img {
      padding: 0 20px;
      height: 250px;
    }
    .info-wrap {
      width: 100%;
    }
  }
  @include MQ(M) {
    margin: $section-margin-mobile 0;
    .info-wrap {
      .grid-wrap {
        padding: 20px;
        .heading {
          margin-bottom: 20px;
        }
        .grid-block {
          .grid-item {
            padding: 20px 0 0 0;
            width: 100%;
          }
        }
      }
    }
  }
}
</style>
