<template>
  <svg
    width="27px"
    height="7px"
    viewBox="0 0 27 7"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    class="arrow-right"
  >
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g
        transform="translate(-43.000000, -4.000000)"
        :style="{
          fill: color
        }"
        fill-rule="nonzero"
      >
        <g transform="translate(43.000000, 4.000000)">
          <polygon
            points="22.2609989 0 22.2609989 2.74624658 0 2.74624658 0 3.90567318 22.2609989 3.90567318 22.2609989 7 27 3.4028979"
          ></polygon>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "arrow-right",
  props: {
    color: {
      type: String,
      default: "#E3A74E"
    }
  }
};
</script>

<style>
.arrow-right {
  min-width: 30px;
}
</style>
