<template>
  <svg
    width="7px"
    height="27px"
    viewBox="0 0 7 27"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    class="arrow-down"
  >
    <g
      id="Desktop"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g
        id="3.0-About"
        transform="translate(-274.000000, -439.000000)"
        :style="{
          fill: color
        }"
      >
        <polygon
          id="Fill-1"
          transform="translate(277.500000, 452.500000) rotate(-270.000000) translate(-277.500000, -452.500000) "
          points="286.260999 449 286.260999 451.746247 264 451.746247 264 452.905673 286.260999 452.905673 286.260999 456 291 452.402898"
        ></polygon>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "arrow-down",
  props: {
    color: {
      type: String,
      default: "#001E26"
    }
  }
};
</script>

<style></style>
