<template>
  <svg
    width="12px"
    height="20px"
    viewBox="0 0 12 20"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g
        transform="translate(-643.000000, -3226.000000)"
        fill="#E3A74E"
        fill-rule="nonzero"
      >
        <g transform="translate(636.000000, 3224.000000)">
          <g
            transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) "
          >
            <polygon
              points="21.7828427 15.4986135 20.3480151 16.9334412 12 8.58542613 3.65198495 16.9334412 2.21715729 15.4986135 11.9986135 5.71715729"
            ></polygon>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "chevron-right"
};
</script>

<style></style>
