<template>
  <svg
    width="13px"
    height="21px"
    viewBox="0 0 13 21"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g
        transform="translate(-100.000000, -90.000000)"
        :style="{
          fill: color
        }"
        fill-rule="nonzero"
      >
        <g transform="translate(0.000000, 45.000000)">
          <g transform="translate(93.000000, 42.000000)">
            <path
              d="M14.9189439,23.5625 L14.9189439,14.2970982 L18.3743148,14.2970982 L18.8915085,10.6858259 L14.9189439,10.6858259 L14.9189439,8.38035714 C14.9189439,7.33513393 15.2414011,6.62274554 16.9068791,6.62274554 L19.03125,6.62158482 L19.03125,3.3921875 C18.6637149,3.34808036 17.4030364,3.25 15.9359012,3.25 C12.8730086,3.25 10.7762854,4.93274554 10.7762854,8.02314732 L10.7762854,10.6858259 L7.3125,10.6858259 L7.3125,14.2970982 L10.7762854,14.2970982 L10.7762854,23.5625 L14.9189439,23.5625 Z"
            ></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "facebook-icon",
  props: {
    color: {
      type: String,
      default: "#B5DAD1"
    }
  }
};
</script>

<style></style>
