<template>
  <section class="faq-masthead">
    <div class="background"></div>
    <div class="grid-container">
      <div class="text-wrap">
        <div class="heading">
          <h1>YOUR QUESTIONS ANSWERED</h1>
          <arrow-down />
        </div>
      </div>
      <img :src="require('@/assets/images/faq_masthead_img.png')" alt="" />
    </div>
  </section>
</template>

<script>
export default {
  name: "faq-masthead"
};
</script>

<style lang="scss">
.faq-masthead {
  margin-bottom: $section-margin-desktop;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  position: relative;
  .background {
    background: $lightgreen;
    grid-row: 1/15;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    grid-row: 1/17;
    grid-template-rows: repeat(32, 1fr);
  }
  .text-wrap {
    grid-column: 3/11;
    grid-row: 5/29;
    display: flex;
    align-items: center;
    h1 {
      max-width: 400px;
      @include RalewayBold1($teal);
      font-size: 60px;
      margin-bottom: 20px;
    }
  }
  img {
    grid-column: 13/31;
    grid-row: 7/33;
  }
  @include MQ(L) {
    display: block;
    .grid-container {
      display: flex;
      flex-direction: column-reverse;
    }
    img {
      padding: 80px 20px 20px 20px;
    }
    .text-wrap {
      padding: 0 40px 40px 40px;
    }
  }
  @include MQ(M) {
    margin-bottom: $section-margin-mobile;
    .text-wrap .heading h1 {
      font-size: 40px;
    }
  }
}
</style>
