<template>
  <div class="info-block">
    <div class="text-wrap">
      <prismic-rich-text
        v-if="slice.primary.title"
        :field="slice.primary.title"
        class="heading"
      />
      <prismic-rich-text
        v-if="slice.primary.description"
        :field="slice.primary.description"
        :htmlSerializer="htmlSerializer"
        class="paragraph"
      />
      <div
        class="link"
        v-if="
          slice.primary.show_link &&
            slice.primary.link &&
            (slice.primary.link.url || slice.primary.link.uid)
        "
      >
        <prismic-link :field="slice.primary.link">
          {{ linkDescription }}
          <arrow-right color="#00303d" />
        </prismic-link>
      </div>
    </div>
  </div>
</template>

<script>
import prismicDOM from "prismic-dom";

const Elements = prismicDOM.RichText.Elements;

const htmlSerializer = function(type, element, content, children) {
  // Look for jump links the content
  if (type == "hyperlink") {
    const regex = /https?:\/\/#/i;
    var target = element.data.target
      ? 'target="' + element.data.target + '" rel="noopener"'
      : "";
    var originalLink = prismicDOM.Link.url(element.data);
    var jumpLink = null;

    if (regex.test(originalLink)) {
      jumpLink = originalLink.replace(/https:?:\/\//i, "");
    }

    if (jumpLink) {
      return `<a class="jump-link" href="${jumpLink}">${content}</a>`;
    }

    return `<a href="${originalLink}" ${target}>${content}</a>`;
  }

  // Return null to stick with the default behavior for everything else
  return null;
};

export default {
  name: "info-block",
  props: ["slice"],
  data: () => ({
    htmlSerializer
  }),
  computed: {
    linkDescription() {
      return prismicDOM.RichText.asText(this.slice.primary.link_description);
    }
  }
};
</script>

<style lang="scss">
.info-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .text-wrap {
    margin: 40px 0;
    .heading {
      margin: 0 0 40px 0;
      @include RalewayBold2();
      .underline {
        text-decoration: underline;
      }
    }
    .jump-link {
      color: $gold;
    }
    .paragraph {
      p {
        padding-bottom: 20px;
      }
    }
    .link {
      margin-top: 20px;
      max-width: 280px;
      a {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: bold !important;
        letter-spacing: 0.07rem;
        text-decoration: none;
        text-transform: uppercase;
        .arrow-right {
          margin-left: 10px;
        }
      }
    }
  }
  @include MQ(M) {
    .text-wrap {
      .heading {
        margin-bottom: 20px;
      }
    }
  }
}
.has-bg {
  .info-block {
    .text-wrap {
      .jump-link {
        color: #fff;
      }
    }
  }
}
</style>
