<template>
  <svg
    width="19px"
    height="19px"
    viewBox="0 0 19 19"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>_Icons / 32px - Social / Facebook Copy 9</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g
        transform="translate(-187.000000, -92.000000)"
        :style="{
          fill: color
        }"
        fill-rule="nonzero"
      >
        <g transform="translate(0.000000, 45.000000)">
          <g transform="translate(183.000000, 42.000000)">
            <path
              d="M22.60625,23.41875 L18.7945766,23.41875 L18.7945766,17.4408962 C18.7945766,16.0158262 18.7688703,14.1829802 16.8123351,14.1829802 C14.8300935,14.1829802 14.5273304,15.7368215 14.5273304,17.3393099 L14.5273304,23.41875 L10.7185133,23.41875 L10.7185133,11.1282368 L14.3716645,11.1282368 L14.3716645,12.8079879 L14.4245052,12.8079879 C14.9343469,11.8422026 16.1768181,10.8234778 18.0319563,10.8234778 C21.8936142,10.8234778 22.60625,13.3674281 22.60625,16.6782834 L22.60625,23.41875 Z M6.41984826,9.44991641 C5.19451451,9.44991641 4.20625,8.45694596 4.20625,7.23361781 C4.20625,6.01172045 5.19451451,5.01875 6.41984826,5.01875 C7.63804137,5.01875 8.62916214,6.01172045 8.62916214,7.23361781 C8.62916214,8.45694596 7.63804137,9.44991641 6.41984826,9.44991641 Z M4.50901312,23.41875 L8.32639902,23.41875 L8.32639902,11.1282368 L4.50901312,11.1282368 L4.50901312,23.41875 Z"
            ></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "linkedin-icon",
  props: {
    color: {
      type: String,
      default: "#B5DAD1"
    }
  }
};
</script>

<style></style>
