<template>
  <validation-observer
    v-slot="{ invalid }"
    ref="subscribe"
    tag="form"
    @submit.prevent="!invalid && subscribe()"
  >
    <validation-provider
      rules="email|required"
      :bails="false"
      tag="div"
      name="Email"
      v-slot="{ errors }"
    >
      <div v-if="response.status === 200">
        <div class="mailchimp-success" :style="{ color: color }">
          Thank you for signing up!
        </div>
      </div>
      <md-field :class="errors[0] ? 'md-invalid' : ''" v-else>
        <label>Email</label>
        <md-input v-model="form.email" type="email" name="EMAIL" value="" />
        <md-button
          class="md-icon-button submit-button"
          type="submit"
          value="Subscribe"
          :class="{ disabled: invalid }"
          :disabled="invalid"
        >
          <arrow-right :color="color" />
        </md-button>
        <span class="md-error">{{ errors[0] }}</span>
      </md-field>
    </validation-provider>
  </validation-observer>
</template>

<script>
import axios from "axios";
import ArrowRight from "./ArrowRight.vue";
export default {
  components: { ArrowRight },
  name: "mailchimp-subscribe",
  props: {
    color: {
      type: String,
      default: "#E3A74E"
    }
  },
  data: () => ({
    form: {
      email: ""
    },
    response: {
      status: null,
      message: ""
    },
    cachedForm: {}
  }),
  computed: {},
  methods: {
    async subscribe(event) {
      axios
        .post("/.netlify/functions/mailchimp-subscribe", {
          email: this.form.email
        })
        .then((response) => {
          this.response.status = response.status;
          this.response.message = `Thanks, ${data.email_address} is subscribed!`;
          this.form = { ...this.cachedForm };
          this.$refs.subscribe.reset();
        });
    }
  },
  mounted() {
    this.cachedForm = { ...this.form };
  }
};
</script>

<style lang="scss">
.md-button {
  &:before {
    display: none !important;
  }
  &:not([disabled]):hover::before {
    background-color: white;
  }
  i {
    transition: all 0.2s linear;
  }
  &:hover {
    i {
      transform: translateX(8px);
    }
  }
}
.md-error {
  display: block;
}
.mailchimp-success {
  margin: 10px 0 20px;
}
.submit-button {
  &.disabled {
    opacity: 0.4;
  }
}
</style>
