<template>
  <svg
    width="48px"
    height="38px"
    viewBox="0 0 48 38"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    class="quote-marks"
  >
    <title>“</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g
        transform="translate(-1007.000000, -1354.000000)"
        :style="{
          fill: color
        }"
        fill-rule="nonzero"
      >
        <path
          d="M1027,1392 L1027,1372.03891 L1021.07407,1372.03891 L1024.33333,1354 L1012.33333,1354 L1007,1371.74319 L1007,1392 L1027,1392 Z M1055,1392 L1055,1372.03891 L1049.07407,1372.03891 L1052.33333,1354 L1040.33333,1354 L1035,1371.74319 L1035,1392 L1055,1392 Z"
        ></path>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "quote-marks",
  props: {
    color: {
      type: String,
      default: "#B5DAD1"
    }
  }
};
</script>

<style></style>
