<template>
  <header
    class="site-header"
    :class="{
      homepageTop: $route.path === '/' && topOfPage
    }"
  >
    <div class="grid-container">
      <nav>
        <div class="logo">
          <router-link to="/">
            <img
              :src="require('@/assets/images/ventur_logo_white.svg')"
              alt="Logo"
              data-not-lazy
            />
          </router-link>
        </div>
        <div class="links">
          <div class="call call--desktop">
            <a href="tel:+441132457745">
              24HR SUPPORT &nbsp; +44 (0)113 245 7745
            </a>
          </div>
          <ul class="primary-nav" :class="menuOpen ? 'open' : ''">
            <li
              v-for="nav in $store.state.headerMenu.nav"
              :key="nav.primary.link.id"
              class="primary-nav-item"
              :class="nav.items.length ? 'has-sub-nav' : ''"
              @click.prevent="closeMenu"
            >
              <nuxt-link
                :to="
                  nav.primary.link.uid == 'home'
                    ? '/'
                    : `/${nav.primary.link.uid}`
                "
                class="primary-nav-link"
              >
                {{ $prismic.asText(nav.primary.label) }}
              </nuxt-link>

              <ul v-if="nav.items.length" class="sub-nav">
                <li
                  v-for="sub_nav in nav.items"
                  :key="sub_nav.sub_nav_link.id"
                  class="sub-nav-item"
                  @click.prevent="closeMenu"
                >
                  <nuxt-link
                    :to="
                      sub_nav.sub_nav_link.uid == 'home'
                        ? '/'
                        : `/${sub_nav.sub_nav_link.uid}`
                    "
                    class="sub-nav-link"
                  >
                    {{ $prismic.asText(sub_nav.sub_nav_link_label) }}
                  </nuxt-link>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="call call--mobile">
          <a href="tel:+441132457745">
            <span>24HR SUPPORT</span>
            <span>+44 (0)113 245 7745</span>
          </a>
        </div>
        <div class="menu-toggle">
          <button
            class="hamburger hamburger--slider"
            :class="menuOpen ? 'is-active' : ''"
            type="button"
            @click.prevent="menuToggle"
          >
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
  name: "site-header",
  data: () => ({
    menuOpen: false,
    topOfPage: true,
    onDesktop: null
  }),

  mounted: function() {
    this.$nextTick(() => {
      window.addEventListener("resize", this.setResponsiveState);
      window.addEventListener("scroll", this.scrollPosition);
    });
  },

  methods: {
    setResponsiveState: function(e) {
      if (e.target.innerWidth > 900) {
        this.closeMenu();
      }
    },

    scrollPosition: function() {
      if (window.scrollY > 40) {
        this.topOfPage = false;
      } else {
        this.topOfPage = true;
      }
    },
    menuToggle: function() {
      this.menuOpen = !this.menuOpen;
    },
    closeMenu: function() {
      this.menuOpen = false;
    }
  }
};
</script>

<style lang="scss">
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9;
  transition: all 0.2s ease-in;
  .grid-container {
    overflow: visible;
  }
  &.homepageTop {
    background: none;
    nav {
      .logo {
        padding: 40px 30px 10px calc(100% / 16);
        width: 200px;
      }
      .call {
        a {
          padding: 35px 25px 5px 20px;
          transition: all 0.2s ease-in;
        }
      }
      .sub-nav {
        top: 60%;
      }
    }
  }
  nav {
    align-items: flex-end;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    grid-column: 1/33;
    .logo {
      transition: all 0.2s ease-in;
      width: calc(100% / 16);
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $teal;
      img {
        transition: all 0.2s ease-in;
        width: 100%;
        height: auto;
      }
    }
    .primary-nav {
      list-style-type: none;
      margin: 0;
      padding: 0 10px;
      margin-left: auto;
      display: flex;
      align-items: center;
      max-height: 62px;
      .primary-nav-item {
        margin: 0 15px;
        padding-bottom: 15px;
        &.has-sub-nav {
          margin-right: 30px;
          &:after {
            content: " ";
            background-image: url(../assets/images/chevron_down.svg);
            height: 7px;
            position: absolute;
            margin: 8px 0 0 5px;
            width: 11px;
          }
        }
        &:hover .sub-nav {
          opacity: 1;
          transform: translateX(0);
          z-index: 1;
        }
        .primary-nav-link {
          @include RalewayBold4($teal);
          color: $teal !important;
          text-decoration: none;
        }
        &:not(.has-sub-nav) .primary-nav-link {
          &.nuxt-link-active,
          &:hover {
            text-decoration: none;
            border-bottom: 3px solid $lightgreen;
          }
        }
      }
    }
    .sub-nav {
      background: rgba(255, 255, 255, 0.7);
      list-style-type: none;
      opacity: 0;
      margin-left: -15px;
      padding: 0 20px;
      position: absolute;
      text-align: center;
      top: 100%;
      transform: translateY(-2px);
      transition: all 0.2s ease-in;
      z-index: -1;
      .sub-nav-item {
        border-bottom: 1px solid $teal;
        &:last-child {
          border-bottom: none;
        }
        .sub-nav-link {
          display: block;
          padding: 10px 0;
          @include RalewayBold4($teal);
        }
      }
    }
    .call {
      a {
        display: block;
        padding: 20px 25px 5px 20px;
        text-decoration: none;
        font-family: raleway;
        font-size: 10px;
        font-weight: bold;
        color: $gold;
        span {
          display: block;
        }
      }
      &--mobile {
        display: none;
      }
      &--desktop {
        text-align: right;
      }
    }
    .menu-toggle {
      display: none;
    }
  }
  @include MQ(XL) {
    &.homepageTop {
      background: none;
      nav {
        .logo {
          padding: 10px 30px;
          width: 100px;
        }
      }
    }
  }
  @include MQ(L) {
    border-bottom: $lightgrey;
    nav {
      height: 60px;
      background-color: white;
      .logo {
        padding: 5px 30px;
        width: 100px;
      }
      .links {
        width: 100%;
        position: fixed;
        top: 60px;
      }
      .primary-nav {
        background: $lightblue;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transition: all 0.3s ease-in;
        &.open {
          padding: 40px 0;
          max-height: 500px;
        }
        .primary-nav-item {
          width: 100%;
          text-align: center;
          &.has-sub-nav {
            margin-right: 15px;
            &:after {
              background-image: none;
            }
          }
          .primary-nav-link {
            display: inline-block;
            padding: 0 0 20px 0;
            &.nuxt-link-active,
            &:hover {
              border-bottom: none;
            }
          }
        }
      }
      .sub-nav {
        background-color: #c6e2db;
        margin: 0;
        opacity: 1;
        position: static;
        transform: translateX(0);
        z-index: 1;
        .sub-nav-item {
          border-bottom: none;
          margin: 0;
          padding: 0;
        }
      }
      .call {
        margin-right: auto;
        &--mobile {
          display: block;
        }
        &--desktop {
          display: none;
        }
      }
      .menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 3px;
      }
    }
  }
}
</style>
