<template>
  <footer class="site-footer">
    <div class="grid-container">
      <div class="footer-wrap">
        <div class="left">
          <div class="socials">
            <a
              href="http://www.facebook.com/venturpartners"
              target="_blank"
              rel="noopener noreferrer"
              ><img :src="require('@/assets/images/facebook_icon.svg')"
            /></a>
            <a
              href="https://twitter.com/VenturPartners"
              target="_blank"
              rel="noopener noreferrer"
              ><img :src="require('@/assets/images/twitter_icon.svg')"
            /></a>
            <a
              href="https://www.linkedin.com/company/venturpartners"
              target="_blank"
              rel="noopener noreferrer"
              ><img :src="require('@/assets/images/linkedin_icon.svg')"
            /></a>
            <a
              href="https://instagram.com/VenturPartners"
              target="_blank"
              rel="noopener noreferrer"
              ><img :src="require('@/assets/images/instagram_icon.svg')"
            /></a>
          </div>
          <div class="links">
            <a href="/faq">FAQS</a>
            <a href="/legal">LEGAL</a>
          </div>
          <div class="contact">
            <a href="tel:+441132457745"
              ><img
                :src="require('@/assets/images/phone_icon.svg')"
                alt="Phone icon"
              />+44 (0)113 245 7745</a
            >
            <a href="/contact"
              ><img
                :src="require('@/assets/images/mail_icon.svg')"
                alt="Email icon"
              />Send us a message</a
            >
          </div>
        </div>
        <div class="right">
          <a class="gray-dawes" href="https://www.gdg.travel" target="_blank">
            <img
              :src="require('@/assets/images/gray_dawes_logo.svg')"
              alt="A Gray Dawes Group Company"
            />
            A Gray Dawes Group Company
          </a>
          <img
            class="partner-logos"
            :src="require('@/assets/images/partner_logo_bar.png')"
            alt="Partner logos"
          />
          <p class="small-print">
            <span>
              Ventur Travel is a trading name of Gray Dawes Travel Limited.
              Registered in England No 904769 | ABTA P8309
            </span>
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "site-footer"
};
</script>

<style lang="scss">
.site-footer {
  height: 212px;
  background: $teal;
  padding: 40px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .footer-wrap {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    grid-column: 2/32;
    .left {
      width: 400px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      img {
        width: auto;
      }
      .socials {
        display: flex;
        width: 130px;
        justify-content: space-between;
        align-items: flex-end;
        margin-right: 20px;
        a {
          width: 22px;
          height: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .links {
        display: flex;
        align-items: flex-end;
        a {
          @include RalewayBold4($lightgreen);
          margin-right: 20px;
        }
      }
      .contact {
        margin-top: 10px;
        a {
          @include RaylewayMedium($lightgreen, 14px);
          margin-right: 20px;
          img {
            margin-right: 5px;
          }
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .gray-dawes {
        @include RaylewayMedium($lightgreen, 12px);
        img {
          margin-right: 16px;
          width: 50px;
        }
      }
      .partner-logos {
        max-width: 350px;
        width: 100%;
        margin: 20px 0 10px;
      }
      .small-print {
        @include RaylewayMedium($grey, 8px);
      }
    }
  }
  @include MQ(XL) {
    height: 200px;
    .footer-wrap {
      flex-direction: column;
      justify-content: center;
      height: 100%;
      .left {
        width: 100%;
        justify-content: space-around;
        margin-bottom: 20px;
        align-items: center;
        .links {
          order: 2;
          align-items: center;
        }
        .contact {
          margin: 0;
        }
      }
      .right {
        align-items: center;
        padding: 0 20px;
        .small-print {
          text-align: center;
        }
      }
    }
  }
  @include MQ(L) {
    height: 410px;
    padding: 20px;
    .footer-wrap {
      .left {
        flex-direction: column;
        align-items: center;
        .socials {
          width: 130px;
          margin: 0 0 30px 0;
        }
        .contact {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 10px 0;
          a {
            margin: 0 0 30px 0;
          }
        }
        .links {
          margin-bottom: 20px;
          a {
            margin: 0 20px;
          }
        }
      }
    }
  }
}
</style>
