<template>
  <svg
    width="20px"
    height="17px"
    viewBox="0 0 20 17"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g
        transform="translate(-141.000000, -94.000000)"
        :style="{
          fill: color
        }"
        fill-rule="nonzero"
      >
        <g transform="translate(0.000000, 45.000000)">
          <g transform="translate(138.000000, 42.000000)">
            <path
              d="M9.43121248,23.5302405 C16.6763505,23.5302405 20.6408163,17.3727602 20.6408163,12.0420516 C20.6408163,11.8688232 20.6408163,11.6955949 20.6331333,11.5223665 C21.4014406,10.9554374 22.0698679,10.238902 22.6,9.42787834 C21.8931573,9.75071299 21.132533,9.96331141 20.3334934,10.0656736 C21.1478992,9.56961062 21.7702281,8.77433503 22.0698679,7.82945314 C21.3092437,8.29402007 20.4641056,8.62472873 19.5651861,8.8058311 C18.8429772,8.01842952 17.8211285,7.53024054 16.6917167,7.53024054 C14.517407,7.53024054 12.7503001,9.34126417 12.7503001,11.5696106 C12.7503001,11.8845713 12.7887155,12.1916579 12.8501801,12.4908705 C9.57719088,12.3255161 6.6729892,10.7113429 4.72917167,8.27039802 C4.39111645,8.86882322 4.19903962,9.56173661 4.19903962,10.3018941 C4.19903962,11.7034689 4.89819928,12.9396894 5.95078031,13.6640988 C5.30540216,13.6404768 4.69843938,13.4593744 4.16830732,13.1601618 C4.16830732,13.1759098 4.16830732,13.1916579 4.16830732,13.2152799 C4.16830732,15.1680358 5.52821128,16.8058311 7.32605042,17.1759098 C6.99567827,17.270398 6.64993998,17.3176421 6.28883553,17.3176421 C6.03529412,17.3176421 5.78943577,17.2940201 5.5512605,17.246776 C6.05066026,18.8530752 7.51044418,20.0184295 9.23145258,20.0499256 C7.87923169,21.1365398 6.18127251,21.782209 4.33733493,21.782209 C4.02232893,21.782209 3.70732293,21.766461 3.4,21.7270909 C5.13637455,22.8609492 7.21080432,23.5302405 9.43121248,23.5302405"
            ></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "twitter-icon",
  props: {
    color: {
      type: String,
      default: "#B5DAD1"
    }
  }
};
</script>

<style></style>
