<template>
  <section class="masthead-story">
    <div
      class="background"
      :style="{ backgroundColor: slice.primary.background_colour || '#b5dad1' }"
    ></div>
    <div class="grid-container">
      <div class="info-block">
        <div class="text-block">
          <prismic-rich-text
            v-if="slice.primary.title"
            :field="slice.primary.title"
            class="heading"
          />
          <prismic-rich-text
            v-if="slice.primary.description"
            :field="slice.primary.description"
            class="paragraph"
          />
          <arrow-down />
        </div>
      </div>
      <div class="img-block">
        <prismic-image v-if="slice.primary.image" :field="slice.primary.image" />
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"]
};
</script>
<style lang="scss">
.masthead-story {
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  position: relative;
  .background {
    grid-row: 1/17;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    grid-row: 2/16;
    grid-template-rows: repeat(32, 1fr);
  }
  .info-block {
    grid-column: 5/13;
    grid-row: 1/33;
    .text-block {
      .heading {
        margin: 0 0 40px 0;
        @include RalewayBold1();
      }
      .paragraph {
        padding-bottom: 20px;
      }
    }
  }
  .img-block {
    grid-column: 15/33;
    grid-row: 1/33;
  }
  @include MQ(L) {
    .grid-container {
      display: flex;
      flex-direction: column-reverse;
    }
    .img-block {
      padding: 40px 20px 20px;
    }
    .info-block {
      padding: 0 20px;
      .text-block {
        .heading {
          margin-bottom: 20px;
        }
      }
    }
  }
  @include MQ(M) {
    margin-bottom: $section-margin-mobile;
  }
}
</style>
