@font-face {
  font-family: 'raleway';
  src: url('https://ventur-smack.netlify.app/_nuxt/fonts/ventur-raleway-bold-webfont.241bc47.woff2') format('woff2'),
      url('https://ventur-smack.netlify.app/_nuxt/fonts/ventur-raleway-bold-webfont.241bc47.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('https://ventur-smack.netlify.app/_nuxt/fonts/ventur-raleway-medium-webfont.241bc47.woff2') format('woff2'),
      url('https://ventur-smack.netlify.app/_nuxt/fonts/ventur-raleway-medium-webfont.241bc47.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#branding-holder {
  height: auto !important;
  padding: 0 !important;
}

#branding-message {
  transform: scale(1);
  width: 100%;
  height: 100%;
}

.outer-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.outer-container *,
.outer-container *:before,
.outer-container *:after {
  box-sizing: inherit;
  font-family: 'raleway';
}

.outer-container .header {
  background-color: #00303D;
  margin-bottom: -60px;
  padding: 20px 20px 0;
}

.outer-container .header img {
  position: relative;
  width: 100%;
}

.outer-container .inner-container {
  background-color: #F4F5F7;
  flex: 1;
  padding: 80px 30px 40px;
}

.outer-container .welcome {
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.outer-container .welcome img {
  margin: 0 0 10px 0;
  width: 100px;
}

.outer-container .welcome-title {
  color: #E28E80;
  font-weight: bold;
  font-size: 31px;
  letter-spacing: 2px;
}

.outer-container .buttons {
  flex-direction: row;
  flex-wrap: wrap;
}

.outer-container .button {
  align-items: center;
  background: #E3A74E url('https://ventur-smack.netlify.app/sabs/arrow_right.svg') no-repeat calc(100% - 10px) 50%;
  color: #FFFFFF;
  display: flex;
  font-size: 11px;
  margin-bottom: 15px;
  min-height: 42px;
  padding: 15px 50px 15px 10px;
  text-decoration: none;
}

.outer-container .button:first-child,
.outer-container .button:nth-child(4n) {
  margin-left: 0;
}

.outer-container .footer-title {
  color: #00303D;
  font-weight: bold;
  letter-spacing: .4px;
  margin-top: 40px;
}

.outer-container .contact a {
  color: #00303D;
  letter-spacing: .4px;
  text-decoration: none;
}

.outer-container .pipe {
  display: none;
  margin: 0 5px;
}

.outer-container .small-print {
  color: #767676;
  font-size: 10px;
  line-height: 1.4em;
  margin-top: 10px;
}

@media (min-width: 769px) {
  .outer-container .header {
    padding: 45px 50px 0;
  }

  .outer-container .inner-container {
    padding: 80px 50px 40px;
  }

  .outer-container .welcome,
  .outer-container .buttons {
    display: flex;
  }

  .outer-container .welcome img {
    margin: 0 1% 0 0;
    width: 15%;
  }

  .outer-container .button {
    margin-left: 5%;
    padding: 10px 50px 10px 10px;
    width: 30%;
  }

  .outer-container .pipe {
    display: inline;
  }
}