<template>
  <section class="team-bios">
    <div class="color-block"></div>
    <div class="info-wrap">
      <prismic-rich-text
        v-if="slice.primary.title"
        :field="slice.primary.title"
        class="heading"
      />
      <prismic-rich-text
        v-if="slice.primary.description"
        :field="slice.primary.description"
        class="description"
      />
    </div>
    <ul>
      <li v-for="bio in slice.items" :key="bio.full_name">
        <prismic-image :field="bio.profile_picture" />
        <div class="info-block">
          <h5>{{ bio.full_name }}</h5>
          <p>{{ bio.job_title }}</p>
        </div>
      </li>
    </ul>
  </section>
</template>
<script>
export default {
  props: ["slice"]
};
</script>
<style lang="scss">
.team-bios {
  display: grid;
  grid-template-columns: minmax(40px, 1fr) minmax(40px, 2fr) 395px minmax(
      auto,
      1005px
    );
  grid-template-rows: 200px 200px auto 100px;

  .color-block {
    background: $pink;
    grid-column: 1/4;
    grid-row: 1/5;
  }
  .info-wrap {
    grid-column: 2/4;
    grid-row: 2/3;
    .heading {
      @include RalewayBold1();
      margin-bottom: 40px;
    }
    .description {
      @include RobotoSlabReg1();
    }
  }
  @include MQ(M) {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 100px 40px 40px 40px;
    .color-block {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 400px;
      z-index: -1;
    }
    .info-wrap {
      .heading {
        @include RalewayBold2();
        margin-bottom: 10px;
      }
      .description {
        margin-bottom: 20px;
      }
    }
  }
  ul {
    grid-column: 3/5;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 0 auto;
    max-width: 1400px;
    width: 100%;
    li {
      background-color: $teal;
      color: white;
      flex-basis: calc((100% - 140px) / 4);
      // min-width: 300px;
      // width: 300px;
      margin: 10px;
      &:nth-child(8n - 7) {
        margin-left: 0px;
      }
      &:nth-child(8n) {
        margin-right: 0px;
      }
      &:nth-child(8n - 4) {
        margin-right: 80px;
      }
      &:nth-child(8n - 3) {
        margin-left: 80px;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .info-block {
        padding: 10px 10px 10px 10px;
        display: flex;
        // height: 70px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        h5 {
          margin: 0 0 5px 0;
          @include RalewayBold3(white);
        }
        .description {
          margin: 0;
        }
      }
    }
    @include MQ(XL) {
      li {
        flex-basis: calc((100% - 160px) / 3);

        // resets
        &:nth-child(8n),
        &:nth-child(8n - 7),
        &:nth-child(8n - 4),
        &:nth-child(8n - 3) {
          margin-left: 10px;
          margin-right: 10px;
        }

        // new
        &:nth-child(6n - 3) {
          margin-right: 80px;
        }
        &:nth-child(6n - 2) {
          margin-left: 80px;
          // margin-right: 10px;
        }
        &:nth-child(6n - 1) {
          // margin-left: 10px;
        }
      }
    }
    @include MQ(M) {
      li {
        flex-basis: 100%;
        // resets
        &:nth-child(8n),
        &:nth-child(8n - 7),
        &:nth-child(8n - 4),
        &:nth-child(8n - 3),
        &:nth-child(6n - 5),
        &:nth-child(6n - 4),
        &:nth-child(6n - 3),
        &:nth-child(6n - 2),
        &:nth-child(6n - 1),
        &:nth-child(6n) {
          margin: 10px 0;
        }
        margin: 10px 0;

        // // new
        // &:nth-child(4n - 2) {
        //   margin-right: 80px;
        // }
        // &:nth-child(4n - 1) {
        //   margin-left: 80px;
        // }
      }
    }
  }
}
</style>
