<template>
  <section
    class="image-quote"
    :class="{
      reverse:
        slice.primary.image_side &&
        slice.primary.image_side.toLowerCase() == 'left',
      'on-white':
        !slice.primary.background_colour ||
        slice.primary.background_colour == '#fff'
    }"
  >
    <div
      class="background"
      :style="{ backgroundColor: slice.primary.background_colour || '#fff' }"
    ></div>
    <div class="grid-container">
      <div class="quote-block">
        <div class="text-block">
          <h4
            v-if="slice.primary.quote"
            :style="{ color: slice.primary.colour }"
          >
            “{{ slice.primary.quote }}”
          </h4>
          <prismic-rich-text :field="slice.primary.text" class="text" />
          <template v-if="$config.env.isAnonymised != 'true'">
            <prismic-link
              v-if="
                slice.primary.link &&
                  (slice.primary.link.url || slice.primary.link.uid)
              "
              :field="slice.primary.link"
              :style="{ color: '#fff' }"
              class="link"
            >
              READ MORE
              <arrow-right color="#fff" />
            </prismic-link>
            <h5>{{ slice.primary.author }}</h5>
          </template>
        </div>
      </div>
      <prismic-image v-if="slice.primary.image" :field="image" class="image" />
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"],

  computed: {
    image() {
      if (
        this.slice.primary.image_size &&
        this.slice.primary.image_size != "main"
      ) {
        return this.slice.primary.image[this.slice.primary.image_size];
      }

      return this.slice.primary.image;
    },
    endpoint() {
      return this.$prismic && this.$prismic.apiEndpoint
        ? this.$prismic.apiEndpoint
            .split("/")
            .slice(0, -2)
            .join("/")
            .replace("cdn.", "")
        : null;
    }
  }
};
</script>
<style lang="scss">
.image-quote {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  position: relative;
  margin: $section-margin-desktop 0;
  .background {
    grid-row: 1/8;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    grid-row: 1/9;
    grid-template-rows: repeat(32, 1fr);
  }
  .quote-block {
    display: flex;
    align-items: center;
    grid-column: 5/17;
    grid-row: 1/29;
    h4 {
      @include RalewayBold2();
      margin: 10px 0;
    }
    h5 {
      text-align: right;
      align-self: flex-end;
      margin-top: 20px;
      @include RobotoSlabReg1();
    }
    .text {
      margin: 20px 0;
      p {
        margin-bottom: 20px;
      }
    }
    .link {
      @include RalewayBold4();
      .arrow-right {
        margin-left: 20px;
      }
    }
  }
  .image {
    grid-column: 21/31;
    grid-row: 5/33;
  }
  &.reverse {
    .quote-block {
      grid-column: 19/29;
    }
    .image {
      grid-column: 3/17;
    }
  }
  &.on-white {
    .background {
      grid-row: 1/9;
    }
    .quote-block,
    .image {
      grid-row: 1/31;
    }
  }
  @include MQ(L) {
    display: block;
    .grid-container {
      display: flex;
      flex-direction: column-reverse;
      padding: 20px;
    }
    .text-block {
      padding: 20px;
      h4 {
        @include RalewayBold3();
      }
    }
    .quote-block {
      h5 {
        text-align: left;
      }
    }
  }
  @include MQ(M) {
    margin: $section-margin-mobile 0;
  }
}
</style>
