<template>
  <section class="internal-link">
    <div
      class="background"
      :style="{ backgroundColor: slice.primary.background_colour || '#b5dad1' }"
    ></div>
    <div class="grid-container">
      <info-block :slice="slice" />
      <prismic-image v-if="slice.primary.image" :field="slice.primary.image" />
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"]
};
</script>
<style lang="scss">
.internal-link {
  margin: $section-margin-desktop 0;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  position: relative;
  .background {
    background: $lightgreen;
    grid-row: 1/8;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    grid-row: 1/9;
    grid-template-rows: repeat(32, 1fr);
  }
  .info-block {
    grid-column: 7/15;
    grid-row: 1/29;
    .text-wrap {
      .link a {
        color: $teal;
      }
    }
    .arrow-right g {
      fill: $teal;
    }
  }
  img {
    grid-column: 19/31;
    grid-row: 5/33;
  }
  @include MQ(M) {
    display: flex;
    flex-direction: column;
    margin: $section-margin-mobile 0;
    .grid-container {
      padding: 20px;
    }
    .text-wrap {
      margin-top: 0;
    }
  }
}
</style>
