<template>
  <div class="site-wrap">
    <site-header />
    <Nuxt />
    <site-footer />
  </div>
</template>

<script>
export default {
  components: {},
  async middleware({ store, $prismic }) {
    await store.dispatch("fetchHeaderMenu", $prismic);
  }
};
</script>

<style lang="scss">
.site-wrap {
  min-height: 100vh;
  padding-bottom: 212px;
  @include MQ(XL) {
    padding-bottom: 200px;
  }
  @include MQ(L) {
    padding-bottom: 410px;
  }
}
</style>
