<template>
  <section class="faq-section">
    <div class="wrap">
      <div class="heading-bar">
        <div class="heading">
          FAQS
        </div>
        <md-field>
          <label for="">Search</label>
          <md-input name="search" v-model="search" />
        </md-field>
      </div>
      <div v-if="!filteredList.length" class="empty-list">
        <p>
          We could not find a match for "{{ search }}". Please try another
          search term.
        </p>
        <ul>
          <li>Check the spelling of your keyword</li>
          <li>Try alternative words and selections</li>
          <li>Try entering a more generic word</li>
          <li>Try entering fewer search terms</li>
        </ul>
      </div>
      <div class="faq-accordian" v-else>
        <div
          v-for="(item, i) in filteredList"
          :key="i"
          class="item"
          :class="currentItem === i ? 'open' : ''"
        >
          <div class="title" @click.prevent="toggle(i)">
            {{ item.title }}
            <chevron-right />
          </div>
          <div class="content">
            <prismic-rich-text :field="item.content" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import ChevronRight from "../../components/ChevronRight.vue";
export default {
  props: ["slice"],
  data: () => ({
    currentItem: null,
    search: ""
  }),
  methods: {
    toggle: function(i) {
      this.currentItem === i
        ? (this.currentItem = null)
        : (this.currentItem = i);
    }
  },
  computed: {
    filteredList: function() {
      return this.slice.items.filter(item => {
        return (
          item.title.toLowerCase().includes(this.search.toLowerCase()) ||
          item.content[0].text.includes(this.search.toLowerCase())
        );
      });
    }
  }
};
</script>

<style lang="scss">
.faq-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $section-margin-desktop;
  .wrap {
    width: 100%;
    padding: 20px;
    max-width: 800px;
    .heading-bar {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .heading {
        @include RalewayBold2($teal);
        margin-right: 40px;
      }
      .md-field {
        width: 300px;
        label {
          color: $teal !important;
        }
        &.md-theme-default {
          &:before {
            background-color: $teal;
          }
          &.md-focused {
            .md-input,
            label {
              color: $teal !important;
            }
          }
        }
      }
    }
    .empty-list {
      p {
        margin: 20px 0;
      }
      ul {
        padding-left: 50px;

        li {
          font-size: 90%;
          margin-bottom: 5px;
          padding-left: 30px;
        }
      }
    }
    .faq-accordian {
      .item {
        .title {
          width: 100%;
          padding: 30px 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $lightgrey;
          svg {
            margin-left: 20px;
            transition: all 0.5s ease-in;
          }
        }
        .content {
          max-height: 0;
          padding: 0 20px;
          overflow: hidden;
          transition: all 0.5s ease-in;
          border-bottom: 1px solid white;
        }
        &.open {
          .title {
            svg {
              transform: rotate(90deg);
            }
          }
          .content {
            padding: 20px 20px;
            max-height: 400px;
            border-color: $lightgrey;
            a {
              color: $gold !important;
            }
          }
        }
      }
    }
  }
}
</style>
