<template>
  <section class="masthead-experience">
    <div
      class="background"
      :style="{ backgroundColor: slice.primary.background_colour || '#e3a74e' }"
    ></div>
    <div class="grid-container">
      <prismic-image
        v-if="slice.primary.image_1"
        :field="slice.primary.image_1"
        class="image-1"
      />
      <prismic-image
        v-if="slice.primary.image_2"
        :field="slice.primary.image_2"
        class="image-2"
      />
      <div class="info-block">
        <div class="text-block">
          <prismic-rich-text
            v-if="slice.primary.title"
            :field="slice.primary.title"
            class="heading"
          />
          <prismic-rich-text
            v-if="slice.primary.description"
            :field="slice.primary.description"
            class="paragraph"
          />
          <div class="cta">
            {{ slice.primary.cta }}
          </div>
          <arrow-down />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"]
};
</script>
<style lang="scss">
.masthead-experience {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  position: relative;
  .background {
    background: $gold;
    grid-row: 1/7;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    grid-row: 1/9;
    grid-template-rows: repeat(32, 1fr);
  }
  .image-1 {
    grid-column: 1/15;
    grid-row: 1/29;
  }
  .image-2 {
    grid-column: 10/16;
    grid-row: 18/33;
  }
  .info-block {
    grid-column: 19/29;
    grid-row: 4/25;
    .text-block {
      .heading {
        margin: 0 0 40px 0;
        @include RalewayBold1();
      }

      .paragraph {
        padding-bottom: 20px;
        p {
          margin-bottom: 10px;
        }
      }
      .cta {
        @include RobotoSlabReg1();
        margin-bottom: 40px;
      }
    }
  }
  @include MQ(XL) {
    display: block;
    padding: 60px 0 0;
    .image-2 {
      display: none;
    }
    .image-1 {
      padding: 20px;
    }
    .info-block {
      padding: 20px 40px 0;
      .text-block {
        .heading {
          @include RalewayBold2($teal);
          margin: 0 0 20px 0;
        }
        .paragraph {
          padding-bottom: 10px;
        }
        .cta {
          margin-bottom: 20px;
        }
      }
    }
  }
}
</style>
