<template>
  <section class="legal">
    <div class="page-wrap">
      <div class="links">
        <prismic-rich-text
          v-for="(item, i) in slice.items"
          :key="i"
          :field="item.title"
          @click.prevent="selectPanel(i)"
          class="link"
          :class="openPanel === i ? 'active' : ''"
        />
      </div>
      <div
        v-for="(item, i) in slice.items"
        :key="i"
        v-show="openPanel === i"
        class="info-block"
      >
        <prismic-rich-text :field="item.title" class="title" />
        <prismic-rich-text
          :field="item.content" class="rich-text"
          :htmlSerializer="legalHtmlSerializer"
        />
      </div>
    </div>
  </section>
</template>
<script>
import prismicDOM from 'prismic-dom';

const Elements = prismicDOM.RichText.Elements;

const legalHtmlSerializer = function (type, element, content, children) {
  // Look for iframe tags in the content
  const regex = /<(iframe).*?<\/\1>/i;
  if (regex.test(content)) {
    return content;
  }

  // Return null to stick with the default behavior for everything else
  return null;
}

export default {
  props: ["slice"],
  data: () => ({
    legalHtmlSerializer,
    openPanel: 0
  }),
  mounted() {
    this.openPanel = parseInt(window.location.hash.replace('#', '')) || 0
  },
  methods: {
    selectPanel: function(index) {
      this.openPanel = index;
    }
  }
};
</script>
<style lang="scss">
.legal {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: $section-margin-desktop * 2 20px 20px 20px;
  .page-wrap {
    width: 100%;
    max-width: 1000px;
    .links {
      margin-bottom: $section-margin-desktop;
      .link {
        @include RalewayBold1();
        opacity: 0.3;
        cursor: pointer;
        &.active {
          opacity: 1;
        }
      }
    }
    .info-block {
      margin-left: 100px;
      margin-bottom: $section-margin-desktop * 2;
      .title {
        @include RalewayBold2();
        margin-bottom: 40px;
      }
      .rich-text {
        p {
          margin-bottom: 30px;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          @include RalewayBold4();
          margin-bottom: 10px;
        }
        a {
          color: $gold;
          text-decoration: underline;
        }
        ul,
        ol {
          padding-left: 15px;
          margin-bottom: 30px;
          li {
            @include RaylewayMedium();
            margin-bottom: 5px;
          }
        }
        iframe {
          border-left: 1px solid #ddd;
          overflow: hidden;
          width: 100%;
        }
      }
    }
  }
  @include MQ(M) {
    padding-top: 80px;
    .page-wrap {
      .links {
        margin-bottom: 20px;
        border-bottom: 1px solid $lightgrey;
        .link {
          margin-bottom: 10px;
          font-size: 35px;
        }
      }
      .info-block {
        margin: 0 0 20px;
        .title {
          margin-bottom: 20px;
        }
      }
    }
  }
}
</style>
