<template>
  <slice-zone type="page" :uid="$route.params.uid" />
</template>

<script>
import SliceZone from "vue-slicezone";

export default {
  components: {
    SliceZone
  },
  async asyncData({ $prismic, error, params }) {
    try {
      const document = (await $prismic.api.getByUID("page", params.uid)).data;
      return { document };
    } catch (e) {
      error({ statusCode: 404, message: "Page not found" });
    }
  },
  head() {
    const [socialCard] = this.document.social_cards;
    const meta = [];

    if (this.document.meta_description) {
      meta.push({
        hid: "description",
        name: "description",
        content: this.document.meta_description
      });
    }

    if (this.document.meta_description || socialCard.social_card_description) {
      meta.push({
        name: "description",
        property: "og:description",
        content: socialCard.social_card_description
          ? socialCard.social_card_description
          : this.document.meta_description
      });
    }

    if (
      socialCard.social_card_image &&
      Object.keys(socialCard.social_card_image).length
    ) {
      meta.push({
        name: "image",
        property: "og:image",
        content: socialCard.social_card_image.url
      });
    }

    return {
      title: `${this.document.meta_title} | Ventur`,
      meta: meta
    };
  }
};
</script>
