<template>
  <div class="faq">
    <faq-masthead />
    <section class="faq-headings">
      <div class="text-wrap">
        <div class="links">
          <h1
            v-for="(item, i) in faqSlices"
            :key="i"
            @click.prevent="selectPanel(i)"
            class="link"
            :class="openPanel === i ? 'active' : ''"
          >
            {{ item.primary.title }}
          </h1>
        </div>
      </div>
    </section>
    <slice-zone
      class="container"
      type="faq"
      uid="faq"
      :slices="document.body[openPanel] ? [document.body[openPanel]] : null"
    />

    <slice-zone class="container" type="faq" uid="faq" :slices="otherSlices" />
  </div>
</template>

<script>
import SliceZone from "vue-slicezone";
import ArrowDown from "../components/ArrowDown.vue";

export default {
  components: {
    SliceZone,
    ArrowDown
  },

  data: () => ({
    openPanel: 0
  }),

  computed: {
    faqSlices() {
      return this.document.body.filter(item => item.slice_type == "faq");
    },

    otherSlices() {
      return this.document.body.filter(item => item.slice_type != "faq");
    }
  },

  methods: {
    selectPanel: function(index) {
      this.openPanel = index;
    }
  },

  async asyncData({ $prismic, error }) {
    const document = (await $prismic.api.getSingle("faq")).data;

    return { document };
  },

  head() {
    return {
      title: `${this.document.meta_title} | Ventur`,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.document.meta_description
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.faq-headings {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .text-wrap {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    .links {
      margin-bottom: 40px;
      .link {
        @include RalewayBold1();
        opacity: 0.3;
        cursor: pointer;
        &.active {
          opacity: 1;
        }
        @include MQ(L) {
          @include RalewayBold2();
        }
      }
    }
  }
}
</style>
