<template>
  <slice-zone type="legal" uid="legal" />
</template>

<script>
import SliceZone from "vue-slicezone";

export default {
  components: {
    SliceZone
  },

  async asyncData({ $prismic, error }) {
    try {
      const document = (await $prismic.api.getSingle("legal")).data;

      return { document };
    } catch (e) {
      error({ statusCode: 404, message: "Page not found" });
    }
  },

  head() {
    return {
      title: `${this.document.meta_title} | Ventur`,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.document.meta_description
        }
      ]
    };
  }
};
</script>
