<template>
  <section class="feature-experience">
    <div class="background"></div>
    <div class="grid-container">
      <prismic-image
        v-if="slice.primary.image_1"
        :field="slice.primary.image_1"
        class="image-1"
      />
      <prismic-image
        v-if="slice.primary.image_2"
        :field="slice.primary.image_2"
        class="image-2"
      />
      <div class="info-block">
        <div class="text-block">
          <prismic-rich-text
            v-if="slice.primary.title"
            :field="slice.primary.title"
            class="heading"
          />
          <prismic-rich-text
            v-if="slice.primary.description"
            :field="slice.primary.description"
            class="paragraph"
          />
          <prismic-link
            v-if="slice.primary.link"
            :field="slice.primary.link"
            class="link"
          >
            {{ slice.primary.cta }}
            <arrow-right />
          </prismic-link>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ["slice"]
};
</script>
<style lang="scss">
.feature-experience {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  position: relative;
  .background {
    background: $lightblue;
    grid-row: 1/7;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    grid-row: 1/9;
    grid-template-rows: repeat(32, 1fr);
  }
  .info-block {
    grid-column: 5/13;
    grid-row: 1/25;
    display: flex;
    align-items: center;
    justify-content: center;
    .text-block {
      .heading {
        @include RalewayBold2();
        margin-bottom: 20px;
      }
      .paragraph {
        margin-bottom: 20px;
      }
      .link {
        @include RalewayBold4(white);
        .arrow-right {
          margin-left: 20px;
          g {
            fill: white;
          }
        }
      }
    }
  }
  .image-1 {
    grid-column: 17/25;
    grid-row: 5/33;
  }
  .image-2 {
    grid-column: 23/31;
    grid-row: 8/20;
  }
  @include MQ(L) {
    .info-block {
      grid-row: 2/5;
    }
  }
  @include MQ(M) {
    grid-template-columns: 1.5fr 0.9fr 5%;
    .image-2 {
      display: none;
    }
  }
  @include MQ(S) {
    display: flex;
    flex-direction: column;
    .grid-container {
      padding: 20px;
    }
    .image-1 {
      height: 250px;
      object-fit: cover;
      width: 100%;
    }
    .info-block {
      padding: 20px;
    }
  }
}
</style>
