<template>
  <section class="two-image-text">
    <div
      class="background"
      :style="{ backgroundColor: slice.primary.background_colour || '#fff' }"
    ></div>
    <div class="grid-container">
      <info-block :slice="slice" />
      <prismic-image
        v-if="slice.primary.image_1"
        :field="slice.primary.image_1"
        class="image-1"
      />
      <prismic-image
        v-if="slice.primary.image_2"
        :field="slice.primary.image_2"
        class="image-2"
      />
    </div>
  </section>
</template>
<script>
import InfoBlock from "../../components/InfoBlock.vue";
export default {
  components: { InfoBlock },
  props: ["slice"]
};
</script>
<style lang="scss">
.two-image-text {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  position: relative;
  .background {
    background: $lightgreen;
    grid-row: 1/8;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .grid-container {
    grid-row: 1/9;
    grid-template-rows: repeat(32, 1fr);
  }
  .info-block {
    grid-column: 5/13;
    grid-row: 1/29;
  }
  .image-1 {
    grid-column: 20/31;
    grid-row: 3/29;
  }
  .image-2 {
    grid-column: 15/23;
    grid-row: 15/33;
  }
  @include MQ(M) {
    padding: 0 20px;
    .image-2 {
      display: none;
    }
  }
}
</style>
