<template>
  <section class="container related-posts">
    <div class="heading">
      YOU MAY ALSO LIKE...
    </div>
    <div class="posts-grid">
      <div v-for="(item, i) in blogPosts" :key="i" class="post">
        <prismic-image
          v-if="item.data.body[0].primary.image"
          :field="item.data.body[0].primary.image"
        />
        <a class="info-wrap" :href="item.url">
          <div class="text-wrap">
            <h4>INSIGHT</h4>
            <div class="title">
              {{ item.data.body[0].primary.title[0].text }}
            </div>
            <div class="intro">
              {{ item.data.body[0].primary.subtitle[0].text }}
            </div>
            <div class="link">
              READ MORE
              <arrow-right />
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</template>
<script>
import ArrowRight from "../../components/ArrowRight.vue";
export default {
  components: { ArrowRight },
  props: ["slice"],
  data: () => ({
    blogPosts: null
  }),
  async mounted() {
    const ids = this.slice.items.map(item => item.blog_post.id);
    const blogPosts = (await this.$prismic.api.getByIDs(ids)).results;
    this.blogPosts = blogPosts;
  }
};
</script>
<style lang="scss">
.related-posts {
  .heading {
    @include RalewayBold2();
    margin: 0 0 20px 100px;
    @include MQ(XL) {
      margin: 0 0 20px 40px;
    }
    @include MQ(M) {
      margin: 0 0 20px 20px;
    }
  }
  .posts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .post {
      height: 420px;
      display: flex;
      align-items: center;
      img {
        width: calc(100% - 400px);
        height: 100%;
        object-fit: cover;
      }
      .info-wrap {
        background-color: $lightgreen;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .text-wrap {
          padding: 40px;
          h4 {
            @include RobotoSlabReg1();
            margin-bottom: 20px;
          }
          .title {
            @include RalewayBold3();
          }
          .intro {
            margin: 20px 0 40px;
            color: $teal;
          }
          .link {
            @include RalewayBold4($teal);
            svg {
              margin-left: 10px;
              g {
                fill: $teal;
              }
            }
          }
        }
      }
    }
    @include MQ(XL) {
      .post {
        flex-direction: column;
        height: auto;
        img {
          width: 100%;
        }
        .info-wrap {
          .text-wrap {
            padding: 20px;
            .intro {
              margin: 20px 0;
            }
          }
        }
      }
    }
    @include MQ(M) {
      padding: 0;
      display: flex;
      flex-direction: column;
      .post {
        width: 100%;
        padding: 0 20px;
        margin-bottom: 20px;
        img {
          height: 300px;
        }
      }
    }
  }
}
</style>
