<template>
  <section class="newsletter-short">
    <div class="wrap">
      <div class="heading">
        SIGN UP TO OUR NEWSLETTER
      </div>
      <div class="terms">
        By signing up, I agree to Ventur sending me the latest news and industry
        insights in line with their
        <a href="/legal#1">Privacy Policy</a>
      </div>
      <client-only>
        <mailchimp-subscribe :color="'#00303d'" />
      </client-only>
    </div>
  </section>
</template>
<script>
import MailchimpSubscribe from "../../components/MailchimpSubscribe.vue";
export default {
  components: { MailchimpSubscribe },
  props: ["slice"],
  methods: {
    mailchimpSubmit(e) {
      // console.log("clicked", e);
    }
  }
};
</script>
<style lang="scss">
@import "vue-material/dist/theme/engine";
@include md-register-theme(
  "default",
  (
    primary: $teal,
    accent: $teal
  )
);
@import "~vue-material/dist/theme/all";

.newsletter-short {
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1350px;
    .heading {
      @include RalewayBold3();
      min-width: 310px;
    }
    .terms {
      margin: 0 10px 0 0;
      @include RaylewayMedium($grey, 12px);
      a {
        color: $grey;
        text-decoration: underline;
      }
    }
    .md-field {
      width: 300px;
    }
  }
  @include MQ(XL) {
    padding: 20px;
    .wrap {
      flex-direction: column;
      .heading {
        margin: 0 0 10px 0;
        width: 100%;
        max-width: 350px;
        min-width: 0;
        text-align: center;
      }
      .terms {
        order: 2;
        text-align: center;
        margin: 0 20px;
      }
      .md-field {
        width: 100%;
        max-width: 400px;
      }
    }
  }
}
</style>
